<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar item-start>
      <img style="border-radius: 0 !important" src="assets/imgs/contacts/fb.svg">
    </ion-avatar>
    www.facebook.com/maopao
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img style="border-radius: 0 !important" src="assets/imgs/contacts/ig.svg">
    </ion-avatar>
    www.instagram.com/maopao
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img style="border-radius: 0 !important" src="assets/imgs/contacts/tt.svg">
    </ion-avatar>
    www.twitter.com/maopao
  </ion-item>
  <ion-item>
    <ion-avatar item-start>
      <img style="border-radius: 0 !important" src="assets/imgs/contacts/ll.svg">
    </ion-avatar>
    783-3847
  </ion-item>
</ion-content>
