<ion-header>
  <ion-navbar class="red-gradient">
    <ion-navbar class="red-gradient">
      <ion-title>Enter Address</ion-title>
    </ion-navbar>

    <ion-buttons end>
      <button ion-button icon-right color="light" (click)="onLocate()">
        <ion-icon name="md-locate"></ion-icon>
      </button>
      <button ion-button icon-right color="light" (click)="onSelectArea()">
        <ion-icon name="ios-map-outline"></ion-icon>
      </button>
      <button ion-button icon-right color="light" (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <div class="test">

    <ion-searchbar primary [(ngModel)]="searchQuery" (keyup)="searching($event)" show-cancel="true" placeholder="Search" *ngIf="isSearchEnabled"></ion-searchbar>

    <div #map id="map" *ngIf="isMapEnabled"></div>
    <div class="centerMarker" *ngIf="isMapLocEnabled"></div>
    <p class="address" *ngIf="!isNoAddress">{{address}}</p>

    <p class="address" *ngIf="isSearchEnabled">{{search_result}}</p>
    <ion-list class="margin-item" *ngIf="isSearchEnabled">
      <ion-item *ngFor="let add of searches" class="small" (click)="searchClicked(add.description)">
        <ion-icon name="pin" color="red-color"></ion-icon>&nbsp;
        {{add.description}}
      </ion-item>
    </ion-list>
    <!--<Button ion-button round block (click)="goToAddress(searchQuery)"  *ngIf="isSearchEnabled" class="btn">Save</Button>-->

    <Button ion-button round block (click)="goToAddress(searchQuery)" *ngIf="isMapEnabled" class="btn">Save</Button>
  </div>


  <!--<ion-item>

    <ion-searchbar primary [(ngModel)]="searchQuery" (keyup)="updateList($event)" show-cancel="true" placeholder="Search"></ion-searchbar>

    <ion-list class="margin-item">
      <ion-item *ngFor="let add of searches" class="small" (click)="searchList(add.description)">
        <ion-icon name="pin" color="red-color"></ion-icon>&nbsp;
        {{add.description}}
      </ion-item>
    </ion-list>

    <div #map id="map" *ngIf="!isMapEnabled"></div>
    <div class="centerMarker" *ngIf="!isConfirmed"></div>

    <Button ion-button block (click)="onConfirm()" *ngIf="!isConfirmed">Confirm</Button>
    <Button ion-button block (click)="goToAddress(searchQuery)" *ngIf="isConfirmed">Save</Button>

  </ion-item>-->

  <!--<ion-item>
    <ion-searchbar primary [(ngModel)]="searchQuery" (keyup)="updateList($event)" show-cancel="true" placeholder="Search"></ion-searchbar>
  </ion-item>
  <ion-item>
    <ion-list class="margin-item">
      <ion-item *ngFor="let add of searches" class="small" (click)="searchList(add.description)">
        <ion-icon name="pin" color="red-color"></ion-icon>&nbsp;
        {{add.description}}
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item>
    <div #map id="map"></div>
    <div class="centerMarker" *ngIf="!isConfirmed"></div>
  </ion-item>

  <ion-item>
    <Button ion-button block (click)="onConfirm()" *ngIf="!isConfirmed">Confirm</Button>
    <Button ion-button block (click)="goToAddress(searchQuery)" *ngIf="isConfirmed">Save</Button>
  </ion-item>-->

</ion-content>



