page-searchadd {

  #map{
    height: 85%;
    width: 100%;
  }

  #mydiv{
    white-space: pre-wrap;      /* CSS3 */
    //white-space: -moz-pre-wrap; /* Firefox */
    //white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;
    width: 190px;
    //word-break: break-all;
    //word-wrap: break-word;
  }

  #address-style{
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: -10px;
    padding-bottom: -10px;
  }


  .centerMarker{
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 40%; left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
  }


  .test {
    display: inline-block;
    margin-top: 12%;
    min-height: 480px;
    height:88%;
    padding-bottom: 12%;
    width:100%;
  }

  .btn{
    margin-top:8px;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .address{
    font-size:80%;
    font-family:Arial;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 8%;
    padding-right: 10%;
    width: 100%;
  }
}
