<!--
  Generated template for the PlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-buttons >
      <button ion-button icon-right color="light" (click)="onDismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>



    <ion-buttons end>
      <button ion-button icon-right color="light" (click)="onLocate()">
        <ion-icon name="md-locate"></ion-icon>
      </button>
      <button ion-button icon-right color="light" (click)="onSelectArea()">
        <ion-icon name="ios-map-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ion-item>
    &lt;!&ndash;<h1>Address</h1>
    <p>{{input}}</p>&ndash;&gt;
    <div id="right-panel">
      <ul id="results"></ul>
    </div>
  </ion-item>-->

  <!--<ion-item>
    <div id ="markerStatus"></div>
    <div id ="info"></div>
    <div id ="address"></div>
  </ion-item>-->

  <ion-item>
    <ion-searchbar primary [(ngModel)]="searchQuery" (keyup)="updateList($event)" show-cancel="true" placeholder="Search"></ion-searchbar>
  </ion-item>
  <ion-item>
    <ion-list class="margin-item">
      <ion-item *ngFor="let add of searches" class="small" (click)="searchList(add.description)">
        <ion-icon name="pin" color="red-color"></ion-icon>&nbsp;
        {{add.description}}
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item>
    <div #map id="map" *ngIf="isMapEnabled"></div>
    <div class="centerMarker" *ngIf="!isConfirmed"></div>
  </ion-item>

  <ion-item>
    <Button ion-button block (click)="onConfirm()" *ngIf="!isConfirmed">Confirm</Button>
    <Button ion-button block (click)="goToAddress(searchQuery)" *ngIf="isConfirmed">Save</Button>
  </ion-item>



</ion-content>
