page-place {
  #map{
    height: 400px;
    width: 100%;
  }

  #mydiv{
    white-space: pre-wrap;      /* CSS3 */
    //white-space: -moz-pre-wrap; /* Firefox */
    //white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;
    width: 190px;
    //word-break: break-all;
    //word-wrap: break-word;
  }

  #address-style{
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: -10px;
    padding-bottom: -10px;
  }


  /*.map-container{
    position: relative;
    width: 300px;
    height: 400px;
  }*/

  /*.map-marker-centered{
    background: url("../../assets/imgs/marker.png") no-repeat;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 2;
    left: calc(50% - 50px);
    top: calc(50% - 60px);
    transition: all 0.4s ease;
  }*/


  .centerMarker{
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%; left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
  }


  /*#map:after {
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%; left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px; !* Since I used the HiDPI marker version this compensates for the 2x size *!
    pointer-events: none; !* This disables clicks on the marker. Not fully supported by all major browsers, though *!
  }*/
}
