<!--
  Generated template for the MypointsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>My Points</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="color-bg">

  <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/user/avatar.jpg"/>

  <p text-center style="color: #fff; margin: 2px">4.5&nbsp;<ion-icon name="star"></ion-icon></p>
  <h5 text-center style="margin: 2px; color: #fff">Michael John C. Ponce</h5>

  <div class="message-container" padding text-center>
    <h4>Earned Points</h4>
    <h1>{{myPoints | number:'0.0-0'}} points</h1>
    <button ion-button small (click)="goToPointsStore()">use points</button>
  </div>

</ion-content>
