<ion-tabs class="violet-gradient">
  <ion-tab [root]="tab1Root" tabTitle="Home" [tabIcon]="homeIcon" (ionSelect)="toggleSelect(homeIcon)"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Favorites" [tabIcon]="favoritesIcon" (ionSelect)="toggleSelect(favoritesIcon)"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Orders" [tabIcon]="ordersIcon" (ionSelect)="toggleSelect(ordersIcon)" [tabBadge]="cartCount" tabBadgeStyle="orange-color"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" [tabIcon]="profileIcon" (ionSelect)="toggleSelect(profileIcon)"></ion-tab>
</ion-tabs>
