<!--
  Generated template for the ConfirmorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Order confirmed</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="color-bg">
  <div class="message-container" padding text-center>
    <h4>Your order has been placed!</h4>
    <p>Thank you for purchasing. We are now processing order. You can track by clicking below.</p>
    <button ion-button small outline color="light" (click)="goToOrderHistory()">Track here</button>
  </div>
</ion-content>
