<!--
  Generated template for the ReviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Reviews</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <ion-item class="rating-item">
    <span class="vertical-middle">Give us a rating!</span>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
  </ion-item>
  <ion-item class="comment-item small">
    <ion-textarea placeholder="Help us improve our line of food by giving your review! Enter your message here..."></ion-textarea>
  </ion-item>
  <ion-item class="margin-item">
    <button item-end ion-button small>Save</button>
  </ion-item>

  <!-- review -->
  <ion-item class="pg-questions small margin-item">
    <ion-avatar item-start>
      <img class="pg-question-avatar" src="assets/imgs/user/avatar.jpg"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>Michael John C. Ponce</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem ipsum dolor sit amet, core et dolore magna aliqua.</span>

    <ion-item>
      <ion-textarea placeholder="Enter your reply here..."></ion-textarea>
    </ion-item>
    
    <div text-right>
      <button ion-button small icon-right clear>Send <ion-icon name="send"></ion-icon></button>
    </div>
  </ion-item>

  <!-- review -->
  <ion-item class="pg-questions small margin-item">
    <ion-avatar item-start>
      <img class="pg-question-avatar" src="assets/imgs/friends/babe_4.jpg"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>Rebecca Lin</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem abore et dolore magna aliqua or sit amet, core et dolore</span>
    <div text-right>
      <button ion-button small icon-right clear>Reply <ion-icon name="chatbubbles"></ion-icon></button>
    </div>
  </ion-item>

</ion-content>
