<!--
  Generated template for the StorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Store</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <div style="background-color: #fff; width: 100%; z-index: 100; position: sticky">
    
    <button style="position: absolute; top: 10px; left: 0" ion-button icon-only clear (click)="toggleFilter()"><ion-icon [name]="filterState"></ion-icon></button>

    <span style="position: absolute; top: 16px; right: 16px" class="store-state-label-open" *ngIf="store.state">open</span>
    <span style="position: absolute; top: 16px; right: 16px" class="store-state-label-closed" *ngIf="!store.state">closed</span>
  
    <img style="position: relative; margin-top: 16px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" [src]="store.logo"/>

    <p text-center style="color: #FF5733; margin: 2px">4.5&nbsp;<ion-icon name="star"></ion-icon></p>
    <h5 text-center style="margin: 2px">{{store.name}}</h5>
    <div class="small" text-center style="margin: 2px">
      <span>{{store.openHours}}&nbsp;&nbsp;</span>
      <span>{{store.distance}}km&nbsp;&nbsp;</span>
      <span>{{store.contacts}}&nbsp;&nbsp;</span>
      <span>Delivers within {{store.speed}} mins</span>
    </div>
    <div class="small" text-center style="margin: 2px">{{store.address}}</div>

    <ion-row class="small" *ngIf="!fs">
      <ion-col col-4 text-left style="padding-top: 15px; padding-left: 10px; color: #2D9CDB">
        <b style="vertical-align: top">1,358 views</b>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-button small outline icon-right (click)="goToReviews()" >2 reviews<ion-icon name="star"></ion-icon></button>
      </ion-col>
      <ion-col col-4 text-right style="padding-top: 15px; padding-right: 10px; color: #2D9CDB">
        <b style="vertical-align: top">748 orders</b>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="fs" class="small">
      <ion-col col-3 style="padding-top: 15px; padding-left: 10px"><b>Filter by:</b></ion-col>
      <ion-col col-3 text-right>
        <button ion-button small outline [color]="none" (click)="applyFilter('none')">none</button>
      </ion-col>
      <ion-col col-3 text-right>
        <button ion-button small outline [color]="rating" (click)="applyFilter('rating')">rating</button>
      </ion-col>
      <ion-col col-3 text-right style="padding-right: 10px">
        <button ion-button small outline [color]="price" (click)="applyFilter('price')">price</button>
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="fs" class="small">

        <ion-col col-3 text-right style="padding-top: 15px; padding-left: 10px"><b>Filter by:</b></ion-col>
        <ion-col col-3 text-center>
          <span style="vertical-align: top">none</span>
          <ion-radio value="none"></ion-radio>
        </ion-col>
        <ion-col col-3 text-center>
          <span style="vertical-align: top">none</span>
          <ion-radio value="none"></ion-radio>
        </ion-col>
        <ion-col col-3 text-center>
          <span style="vertical-align: top">none</span>
          <ion-radio value="none"></ion-radio>
        </ion-col>
      </ion-row> -->

  </div>

  <div class="product-list">
    <ion-card class="product" *ngFor="let product of products">
      <div class="rating"> {{product.rating | number:'0.1-1'}} &nbsp;<ion-icon name="star" item-end></ion-icon></div>
      <img class="rating-background" src="assets/imgs/products/rating-background.png">
      <div class="image">

        <!--show quantity options when product image is clicked-->
        <div class="options" [ngClass]="{'added-to-cart' : product.quantity, 'removed-from-cart' : (product.quantity == 0)}">
          <div class="options-group" text-center>
            <ion-row class="quantity">
                <ion-col (click)="removeFromCart(product.prodId)"><h1>-</h1></ion-col>
                <ion-col><h1>{{product.quantity}}</h1></ion-col>
                <ion-col (click)="addToCart(product.prodId)"><h1>+</h1></ion-col>
            </ion-row>
          </div>
        </div>

        <img [src]="product.image" (click)="addToCart(product.prodId)"/>
      </div>
      <ion-card-content (click)="goToProduct(product.prodId)">
        <div class="info">{{product.name}}</div>
        <div class="info" [ngClass]="{'price-on-sale' : product.discountedPrice}"><b>₱{{product.price | number:'0.2-2'}}</b></div>
        <div class="sale" *ngIf="product.discountedPrice" text-center>
          <b>₱{{product.discountedPrice | number:'0.2-2'}}</b>
          <b>SALE</b>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
