<!--
  Generated template for the MypromosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>My Promos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

<!--segment for choosing view: my cart or my order history-->
<ion-segment [(ngModel)]="view" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="availed">
    Availed Promos
  </ion-segment-button>
  <ion-segment-button value="store">
    Buy Promos
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="view">

  <div *ngSwitchCase="'availed'">

    <div class="scroll-container">

      <div padding text-center class="small">
        To use your availed promos, click <b>"USE PROMO"</b> in the Checkout page.
      </div>
      
      <div *ngFor="let promo of storePromos">
        <ion-card *ngIf="promo.bought" [ngClass]="{'promo-one' : promo.type == 1, 'promo-two' : promo.type == 2}">
  
          <ion-item class="small">
            <ion-avatar item-start>
              <img [src]="promo.logo">
            </ion-avatar>
            Applicable with <b>{{promo.storeName}}</b> only.
          </ion-item>
          <ion-row>
            <ion-col col-5 text-center>
              <h1>₱{{promo.discount}}</h1>
              <p>Discount</p>
            </ion-col>
            <ion-col col-2 text-center class="center-col">
              for
            </ion-col>
            <ion-col col-5 text-center>
              <h1>₱{{promo.cost}}</h1>
              <p>Points</p>
            </ion-col>
          </ion-row>
          <ion-item class="last-item">
            <p item-end>Valid Period <b><u>{{promo.period}}</u></b></p>
          </ion-item>
          
        </ion-card>
      </div>

    </div>  

  </div>

  <div *ngSwitchCase="'store'">

    <div class="scroll-container">

      <div *ngFor="let promo of storePromos">
          <ion-card *ngIf="!promo.bought" [ngClass]="{'promo-one' : promo.type == 1, 'promo-two' : promo.type == 2}" (click)="toggleSelect(promo.promoId)">
    
            <div class="indicator" *ngIf="promo.selected">
              <div class="center">
                <div class="check-mark"></div>
              </div>
            </div>
    
            <ion-item class="small">
              <ion-avatar item-start>
                <img [src]="promo.logo">
              </ion-avatar>
              Applicable with <b>{{promo.storeName}}</b> only.
            </ion-item>
            <ion-row>
              <ion-col col-5 text-center>
                <h1>₱{{promo.discount}}</h1>
                <p>Discount</p>
              </ion-col>
              <ion-col col-2 text-center class="center-col">
                for
              </ion-col>
              <ion-col col-5 text-center>
                <h1>₱{{promo.cost}}</h1>
                <p>Points</p>
              </ion-col>
            </ion-row>
            <ion-item class="last-item">
              <p item-end>Valid Period <b><u>{{promo.period}}</u></b></p>
            </ion-item>
            
          </ion-card>
        </div>

    </div> 

    
    <!--show only when a store is included to checkout and store toggle is on open-->
    <button class="checkout-item" ion-button full *ngIf="selectedCount > 0" (click)="buyPromos()">
      Buy selected promo(s)
    </button>

    <!--show only when no stores is included to checkout and store toggle is on open-->
    <ion-item class="checkout-item" *ngIf="selectedCount == 0">
      <ion-checkbox item-start checked="true" disabled></ion-checkbox>
      <ion-label>
        <b>Select promo(s) to avail for discounts</b>
      </ion-label>
    </ion-item>

  </div>

</div>

</ion-content>
