<!--
  Generated template for the MyinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>My Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <ion-item class="margin-item">

    <!-- if logged in -->
    <div *ngIf="loggedIn" style="position: relative; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0)">
      <ion-icon style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px; font-weight: 800; color: rgba(255,255,255, .5)" name="add"></ion-icon>
      <img style="border-radius: 50%" src="assets/imgs/user/avatar.jpg"/>
    </div>

    <ion-row *ngIf="loggedIn">
      <ion-col col-6>
        <button ion-button small block round color="red-color" (click)="logOut()">Log out</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button small block round>Switch account</button>
      </ion-col>
    </ion-row>

  </ion-item>

  <!--<ion-list class="margin-item">-->
    <!--<ion-item>
      My Details
    </ion-item>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" placeholder="ex. Michael John C. Ponce"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input type="number" placeholder="ex. 09874637463"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-mail Address</ion-label>
      <ion-input type="email" placeholder="ex. maopao@gmail.com"></ion-input>
    </ion-item>
  </ion-list>-->

    <ion-item-group *ngIf="saved">
      <ion-list class="margin-item">
    <ion-item>
      <h1>My Details</h1>
    </ion-item>
    <ion-item>
      <ion-label stacked style="color:red">* First Name</ion-label>
      <ion-input type="text" placeholder="ex. Michael John" [(ngModel)]="firstname"></ion-input>
    </ion-item>
        <ion-item>
          <ion-label stacked style="color:red">* Last Name</ion-label>
          <ion-input type="text" placeholder="ex. ponce" [(ngModel)]="lastname"></ion-input>
        </ion-item>
    <ion-item>
      <ion-label stacked style="color:red">* Mobile Number</ion-label>
      <ion-input type="number" placeholder="ex. 09874637463" [(ngModel)]="mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked style="color:red">* E-mail Address</ion-label>
      <ion-input type="email" placeholder="ex. maopao@gmail.com" [(ngModel)]="email"></ion-input>
    </ion-item>
        <ion-item>
          <p style="color:red;"> {{confirmMessage}} </p>
          <button item-end small ion-button outline (click)="save(firstname, lastname, mobile, email)">Save</button>
        </ion-item>
      </ion-list>
  </ion-item-group>

  <ion-item-group *ngIf="!saved">
    <ion-list class="margin-item">
    <ion-item>
      <h1>My Details</h1>
      <!--<div *ngFor="let add of address3" (click)="goToAddress(add.name)">{{add.name}}</div>-->
    </ion-item>
    <ion-item>
      <h2>Name</h2>
      <p>{{fullname}}</p>
    </ion-item>
    <ion-item>
      <h2>Mobile Number</h2>
      <p >{{mobile}}</p>
    </ion-item>
    <ion-item>
      <h2>E-mail Address</h2>
      <p >{{email}}</p>
    </ion-item>
      <ion-item>
        <ion-label stacked> </ion-label>
        <button item-end small ion-button outline (click)="saved = !saved">Edit</button>
        <ion-label stacked> </ion-label>
      </ion-item>

  </ion-list>
  </ion-item-group>


  <div *ngIf="!deleting">
  <ion-item>
    My Delivery Address
  <button item-end small ion-button outline (click)="addAddress()">Add +</button>
  </ion-item>
  <ion-list class="margin-item">
    <ion-item *ngFor="let add of address3" class="small" (click)="goToAddress(add.address)" ion-long-press [interval]="400" (onPressStart)="pressed()" (onPressing)="active(add.address_id, add.address)" (onPressEnd)="released()">
      <ion-icon name="pin" color="red-color"></ion-icon>&nbsp;
      {{add.address}}
    </ion-item>
  </ion-list>
  </div>

  <ion-item-group *ngIf="deleting == true">
    <ion-item>
      My Delivery Address
      <button item-end small ion-button outline [color]="theme" (click)="del()">Delete</button>
    </ion-item>
    <div radio-group [(ngModel)]="deliveryAddress" class="margin-item">
      <ion-item *ngFor="let a of address3">
        <ion-radio item-start [color]="theme" [value]="a.address" (click)="selectToDel(a.address_id, a.address)"></ion-radio>
        <ion-label class="small" >{{a.address}}</ion-label>
      </ion-item>
    </div>
  </ion-item-group>


  <ion-item>
    My linked accounts
  </ion-item>
  <ion-item>
    <ion-row style="padding: 0">
      <ion-col col-7 class="small" style="padding: 0">
        <img style="float: left; margin-right: 10px" src="assets/imgs/user/facebook.svg"/>
        <p><b>Facebook</b></p>
        <p>Michael John C. Ponce</p>
      </ion-col>
      <ion-col col-5 style="padding: 0">
        <button style="float: right" ion-button small clear color="red-color">Unlink account&nbsp;<ion-icon name="trash"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row style="padding: 0">
      <ion-col col-7 class="small" style="padding: 0">
        <img style="float: left; margin-right: 10px" src="assets/imgs/user/twitter.svg"/>
        <p><b>Twitter</b></p>
        <p>No account linked</p>
      </ion-col>
      <ion-col col-5 style="padding: 0">
        <button style="float: right" ion-button small clear>Link account&nbsp;<ion-icon name="link"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>
