<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title *ngIf="signUp">Sign Up</ion-title>
    <ion-title *ngIf="!signUp">Log in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group *ngIf="!signUp">

    <ion-item class="margin-item">
      <div style="position: relative; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0)">
        <img style="width: 100%" src="assets/imgs/user/user_placeholder.svg"/>
      </div>
    </ion-item>
    <ion-item>
      Sign Up
      <button item-end ion-button icon-right clear small (click)="signUp = !signUp">log in<ion-icon name="arrow-forward"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input type="tel" name="tel" placeholder="ex. 092728736581" [(ngModel)] = "mobile" maxlength="12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" name="password" placeholder="" [(ngModel)]="password" maxlength="40"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cPassword" name="cPassword" placeholder="" maxlength="40"></ion-input>
    </ion-item>
    <ion-label stacked style="color:red">&nbsp; &nbsp; &nbsp; &nbsp;{{confirmMessage}}</ion-label>
    <ion-item>
        <button class="pg-full-button" ion-button full round (click)="RegisterAccount(mobile, password)">Proceed</button>
    </ion-item>

  </ion-item-group>

  <ion-item-group *ngIf="signUp">

    <ion-item class="margin-item">
      <div style="position: relative; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0)">
        <img style="width: 100%" src="assets/imgs/user/user_placeholder.svg"/>
      </div>
    </ion-item>
    <ion-item>
      Log In
      <button item-end ion-button icon-right clear small (click)="signUp = !signUp">Sign up<ion-icon name="arrow-forward"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-input type="tel" [(ngModel)]="umobile" placeholder="ex. 092728736581" maxlength="12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="pword" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <button class="pg-full-button" round ion-button full (click)="auth2(umobile, pword)">Log In</button>
    </ion-item>
  </ion-item-group>
</ion-content>
