<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background-color: #efefef" [ngClass]="{'no-scroll' : openModal}">
    <!--
    *
    *
    *
    Menu modal
    *
    *
    *
    start -->

  <!--the menu modal-->
  <div class="modal-container" [ngClass]="{'open' : openModal}">

      <div class="modal-background" (click)="openModal = !openModal"></div>

      <div class="modal-center">
        <ion-grid class="modal">
          <ion-row>
            <ion-col>
              <img src="assets/imgs/user/english_language.png">
            </ion-col>
            <ion-col>
              <img src="assets/imgs/user/china_language.png">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
    <!--
      *
      *
      *
      Remaining content of "Home" which
      *
      *
      *
      start -->

  <div style="background-color: #fff; height: 80px; position: absolute; top: 0; width: 100%">
  </div>

  <div *ngIf="loggedIn">
  <button style="position: absolute; top: 10px; left: 0" ion-button icon-only color="primary" clear><ion-icon name="pin">&nbsp;<b style="color: #FF5733">+</b></ion-icon></button>
  <!-- <button style="position: absolute; top: 10px; right: 0" ion-button icon-only color="orange-color" clear>
    <ion-icon name="notifications"></ion-icon>
     <ion-badge style="margin: -18px 10px 0 -15px" color="primary">18</ion-badge>
  </button> -->

  <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/user/avatar.jpg"/>

  <p text-center style="color: #FF5733; margin: 2px">4.5&nbsp;<ion-icon name="star"></ion-icon></p>
    <h5 text-center style="margin: 2px">{{fullname}}</h5>
    <p class="small" text-center style="margin: 2px 0 10px 0">{{email}} - {{mobile}}</p>


  <ion-row>
    <ion-col>
      <ion-card class="profile-card" padding>
        <img src="assets/imgs/user/wallet.svg"/>
        <p text-center>E-wallet</p>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card" padding style="position: relative" (click)="goToGifts()">
        <ion-badge color="orange-color" style="position: absolute; right: 10px; top: 10px">1</ion-badge>
        <img src="assets/imgs/user/gift.svg"/>
        <p text-center>Gifts</p>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card" padding style="position: relative" (click)="goToFriends()">
        <ion-badge color="orange-color" style="position: absolute; right: 10px; top: 10px">{{friendsReqCount}}</ion-badge>
        <img src="assets/imgs/user/friends.svg"/>
        <p text-center>Friends</p>
      </ion-card>
    </ion-col>
  </ion-row>
  </div>

  <div *ngIf="!loggedIn">
    <br><br><br><br><br><br><br><br><br><br>
  </div>

  <ion-row>
    <ion-col>
      <ion-card class="profile-card round" padding (click)="goToMyInfo()">
        <img src="assets/imgs/user/information.svg"/>
      </ion-card>
      <p class="small" text-center>My info</p>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card round" padding (click)="goToMyPoints()">
        <img src="assets/imgs/user/points.png"/>
      </ion-card>
      <p class="small" text-center>My points</p>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card round" padding (click)="goToMyPromos()">
        <img src="assets/imgs/user/promos.png"/>
      </ion-card>
      <p class="small" text-center>My promos</p>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card round" padding (click)="goToSale()">
        <img src="assets/imgs/user/sale.png"/>
      </ion-card>
      <p class="small" text-center>Sale</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="profile-card round" padding>
        <img src="assets/imgs/user/bills_payment.png"/>
      </ion-card>
      <p class="small" text-center>Bills payment</p>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card round" padding (click)="goToContact()">
        <img src="assets/imgs/user/contact_us.png"/>
      </ion-card>
      <p class="small" text-center>Contact us</p>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card round" padding (click)="openModal = !openModal">
        <img src="assets/imgs/user/language.svg"/>
      </ion-card>
      <p class="small" text-center>Language</p>
    </ion-col>
    <ion-col>
      <ion-card class="profile-card round" padding>
        <img src="assets/imgs/user/customer_support.svg"/>
      </ion-card>
      <p class="small" text-center>Customer support</p>
    </ion-col>
  </ion-row>

  <img style="margin-left: 50%; transform: translate(-50%, 0); height: 40px" src="assets/imgs/logo.png"/>
  <!-- <h6 class="small" text-center style="margin:2px">Mao Pao</h6> -->
  <p class="small" text-center style="margin:2px 0 10px 0">version 2.0.18</p>

</ion-content>
