<!--
  Generated template for the GiftsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>gifts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <!--<ion-list class="orders">
    <ion-item-group *ngFor="let order of orders">
      <ion-item (click)="goToOrderHistory(order.orderId)" *ngIf="order.deliveryState < 8" [ngClass]="{'unseen' : order.unseen}">

        <ion-avatar item-start>
          <div>
            <img  [src]="order.logo">
          </div>
        </ion-avatar>
        <ion-row class="small">
          <ion-col>
            <b>{{order.orderId}}</b>
          </ion-col>
          <ion-col text-right>
            {{order.date}}
          </ion-col>
        </ion-row>

        <img class="gift-indicator" src="assets/icon/send_gift.svg" *ngIf="order.deliveryState < 4"/>
        <img class="gift-indicator" src="assets/icon/receive_gift.svg" *ngIf="order.deliveryState > 3 && order.deliveryState < 8"/>

        <span class="small" *ngIf="order.deliveryState == 0">Your gift to <b>{{order.recepientName}}</b> is pending.</span>
        <span class="small" *ngIf="order.deliveryState == 1">Your gift to <b>{{order.recepientName}}</b> is being processed in store.</span>
        <span class="small" *ngIf="order.deliveryState == 2">Your gift to <b>{{order.recepientName}}</b> is in transit.</span>
        <span class="small" *ngIf="order.deliveryState == 3">Your gift to <b>{{order.recepientName}}</b> has been delivered.</span>

        <span class="small" *ngIf="order.deliveryState == 4">Your gift from <b>{{order.senderName}}</b> is pending.</span>
        <span class="small" *ngIf="order.deliveryState == 5">Your gift from <b>{{order.senderName}}</b> is being processed in store.</span>
        <span class="small" *ngIf="order.deliveryState == 6">Your gift from <b>{{order.senderName}}</b> is in transit.</span>
        <span class="small" *ngIf="order.deliveryState == 7">Your gift from <b>{{order.senderName}}</b> has been delivered.</span>

        </ion-item>
    </ion-item-group>
    </ion-list>-->

  <ion-list class="orders">
    <ion-item-group *ngFor="let order of arr_mygift">
      <ion-item *ngIf="arr_mygift.length > 0" (click)="goToOrderHistory(order.ORDER_ID)">
        <ion-avatar item-start>
          <div>
            <img  [src]="order.first_store_logo">
          </div>
        </ion-avatar>
        <ion-row class="small">
          <ion-col>
            <b>{{order.ORDER_ID}}</b>
          </ion-col>
          <ion-col text-right>
            {{order.DELIVERY_DATE}}
          </ion-col>
        </ion-row>

        <span class="small" *ngIf="order.ORDER_STATUS == 1">Your gift is being <b>processed</b> in store.</span>
        <span class="small" *ngIf="order.RECIPIENT_ID == my_id">Your gift from {{order.firstname}} {{order.lastname}} is <b>pending</b>.</span>
        <span class="small" *ngIf="order.ORDER_STATUS == 2">Your order is <b>in transit.</b></span>
        <span class="small" *ngIf="order.ORDER_STATUS == 3">Your order has been <b>delivered</b>.</span>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list class="orders">
    <ion-item-group *ngFor="let order of arr_yourgift">
      <ion-item *ngIf="arr_yourgift.length > 0" (click)="goToOrderHistory(order.ORDER_ID)">
        <ion-avatar item-start>
          <div>
            <img  [src]="order.first_store_logo">
          </div>
        </ion-avatar>
        <ion-row class="small">
          <ion-col>
            <b>{{order.ORDER_ID}}</b>
          </ion-col>
          <ion-col text-right>
            {{order.DELIVERY_DATE}}
          </ion-col>
        </ion-row>

        <span class="small" *ngIf="order.ORDER_STATUS == 1">Your gift is being <b>processed</b> in store.</span>
        <span class="small" *ngIf="order.RECIPIENT_ID == my_id">Your gift from {{order.firstname}} {{order.lastname}} is <b>pending</b>.</span>
        <span class="small" *ngIf="order.CUSTOMER_ID == my_id && order.gift_status == 0">Your gift to {{order.firstname}} {{order.lastname}} is <b>pending.</b></span>
        <span class="small" *ngIf="order.ORDER_STATUS == 3">Your order has been <b>delivered</b>.</span>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
