<ion-content style="background-color: #f5f5f5" [ngClass]="{'no-scroll' : openModal}">

  <!--
    *
    *
    *
    Menu modal
    *
    *
    *
    start -->

  <!--the menu modal-->
  <div class="modal-container" [ngClass]="{'open' : openModal}">

    <!-- the background shade -->
    <div class="modal-background" (click)="openModal = !openModal"></div>

    <ion-item class="checkout-item" *ngIf="selectedCategoryCount == 0 && goToNextModal">
      <ion-checkbox item-start checked="true" disabled></ion-checkbox>
      <ion-label>
        <b>Select Store(s) for advanced order</b>
      </ion-label>
    </ion-item>

    <div class="modal-center">

      <div class="modal">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/imgs/menu_icons/stores_menu_icon.png" (click)="goToMap()">
            </ion-col>
            <ion-col>
              <img src="assets/imgs/menu_icons/categories_menu_icon.png" (click)="goToCategories()">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="assets/imgs/menu_icons/vending_machine_menu_icon.png" (click)="goToVendingMachine()">
            </ion-col>
            <ion-col>
              <img src="assets/imgs/menu_icons/groceries_menu_icon.png" (click)="goToGrocery()">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

  </div>


  <!--
    *
    *
    *
    Remaining content of "Home" which
    *
    *
    *
    start -->

  <!--home header for search and menu button-->
  <ion-grid class="home-header">
    <ion-row>
      <ion-col col-10>
        <ion-searchbar [ngClass]="{'with-input' : results !== null}" showCancelButton="true" (ionInput)="getItems($event)" (ionCancel)="cancelItems($event)" placeholder="Search here..."></ion-searchbar>
        <ion-list class="search-result-container small">
          <ion-item style="background-color: #efefef; color: #4f4f4f" *ngIf="results">
            Suggested searches
          </ion-item>
          <ion-item-group *ngFor="let result of results">
              <ion-item *ngIf="result.prodId !== undefined" (click)="goToProduct(result.prodId)">
                <ion-avatar item-start>
                  <img [src]="result.image">
                </ion-avatar>
                {{result.name}}
              </ion-item>
              <ion-item *ngIf="result.prodId == undefined" (click)="goToStore(result.storeId)">
                <ion-avatar item-start>
                  <img [src]="result.logo">
                </ion-avatar>
                {{result.name}}
              </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <ion-col col-2>
        <!--(click)="toggleMenuModal(!activeModal)"-->
        <img class="menu-button" width="43px" src="assets/imgs/menu_icons/menu_cta.png" (click)="openModal = !openModal">
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--banner slides-->
  <ion-slides pager autoplay="4000" loop="true">
    <ion-slide *ngFor="let slide of slides">
      <img width="100%" [src]="slide">
    </ion-slide>
  </ion-slides>

  <!--Most popular stores-->
  <h6 class="segment-header">Most Popular Stores</h6>
  <ion-scroll class="segment-content" scrollX="true" nowrap>
      <img class="popular-stores" *ngFor="let store of stores" [src]="store.logo" (click)="goToStore(store.storeId)">
  </ion-scroll>

  <!--Most popular products-->
  <h6 class="segment-header">Most Popular Products</h6>
  <ion-scroll class="segment-content" scrollX="true" nowrap>
      <img class="popular-products" *ngFor="let product of products" [src]="product.image">
  </ion-scroll>

  <!--fresh food suggestion-->
  <ion-card class="product-group">
    <ion-card-header>
      Fresh Food
    </ion-card-header>
    <div class="product-list">
      <!--nevermind the slice:0:9, used only in this example to show items 0-8-->
      <div class="product" *ngFor="let product of products | slice:0:9">
        <div class="rating"> {{product.rating | number:'0.1-1'}} &nbsp;<ion-icon name="star" item-end></ion-icon></div>
        <img class="rating-background non-round" src="assets/imgs/products/rating-background.png">
        <div class="product-name" text-center>{{product.name}}</div>
        <img width="100%" [src]="product.image">
      </div>
    </div>
  </ion-card>

  <!--our suggestion list: from previously viewed items-->
  <h6 class="segment-header">Our Suggestions</h6>
  <div class="product-list">
    <ion-card class="product" *ngFor="let product of products">
      <div class="rating"> {{product.rating | number:'0.1-1'}} &nbsp;<ion-icon name="star" item-end></ion-icon></div>
      <img class="rating-background" src="assets/imgs/products/rating-background.png">
      <div class="image">

        <!--show quantity options when product image is clicked-->
        <div class="options" [ngClass]="{'added-to-cart' : product.quantity, 'removed-from-cart' : (product.quantity == 0)}">
          <div class="options-group" text-center>
            <ion-row class="quantity">
                <ion-col (click)="removeFromCart(product.prodId)"><h1>-</h1></ion-col>
                <ion-col><h1>{{product.quantity}}</h1></ion-col>
                <ion-col (click)="addToCart(product.prodId)"><h1>+</h1></ion-col>
            </ion-row>
          </div>
        </div>

        <img [src]="product.image" (click)="addToCart(product.prodId)"/>
      </div>
      <ion-card-content (click)="goToProduct(product.prodId)">
        <div class="info">{{product.name}}</div>
        <div class="info" [ngClass]="{'price-on-sale' : product.discountedPrice}"><b>₱{{product.price | number:'0.2-2'}}</b></div>
        <div class="sale" *ngIf="product.discountedPrice" text-center>
          <b>₱{{product.discountedPrice | number:'0.2-2'}}</b>
          <b>SALE</b>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
