<!--
  Generated template for the SalePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Sale</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <ion-row *ngFor="let row of sales">
    <ion-col *ngFor="let sale of row">
      <ion-card>
        <img [src]="sale.image"/>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
