<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Categories</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <ion-row class="small category-filter">
    <ion-col col-3 style="padding-top: 15px; padding-left: 10px"><b>Filter by:</b></ion-col>
    <ion-col col-3 text-right>
      <button ion-button small outline [color]="none" (click)="applyFilter('none')">none</button>
    </ion-col>
    <ion-col col-3 text-right>
      <button ion-button small outline [color]="rating" (click)="applyFilter('rating')">rating</button>
    </ion-col>
    <ion-col col-3 text-right style="padding-right: 10px">
      <button ion-button small outline [color]="price" (click)="applyFilter('price')">price</button>
    </ion-col>
  </ion-row>

  <div class="category-sidebar">
    <div *ngFor="let row of categories">
      <div *ngFor="let category of row" class="category" (click)="selectingCategories(category.id)">
        <img [ngClass]="{'selected' : !category.selected}" [src]="category.image_1">
        <img [ngClass]="{'selected' : category.selected}" [src]="category.image_2">  
      </div>
    </div>
  </div>

  <div class="category-result">
    <div class="product-list">
      <ion-card class="product" *ngFor="let product of products">
        <div class="rating"> {{product.rating | number:'0.1-1'}} &nbsp;<ion-icon name="star" item-end></ion-icon></div>
        <img class="rating-background" src="assets/imgs/products/rating-background.png">
        <div class="image">
  
          <!--show quantity options when product image is clicked-->
          <div class="options" [ngClass]="{'added-to-cart' : product.quantity, 'removed-from-cart' : (product.quantity == 0)}">
            <div class="options-group" text-center>
              <ion-row class="quantity">
                  <ion-col (click)="removeFromCart(product.prodId)"><h1>-</h1></ion-col>
                  <ion-col><h1>{{product.quantity}}</h1></ion-col>
                  <ion-col (click)="addToCart(product.prodId)"><h1>+</h1></ion-col>
              </ion-row>
            </div>
          </div>
  
          <img [src]="product.image" (click)="addToCart(product.prodId)"/>
        </div>
        <ion-card-content (click)="goToProduct(product.prodId)">
          <div class="info">{{product.name}}</div>
          <div class="info" [ngClass]="{'price-on-sale' : product.discountedPrice}"><b>₱{{product.price | number:'0.2-2'}}</b></div>
          <div class="sale" *ngIf="product.discountedPrice" text-center>
            <b>₱{{product.discountedPrice | number:'0.2-2'}}</b>
            <b>SALE</b>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
