// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $toolbar-background: transparent;

// $violet-gradient: {
//   background: linear-gradient(to bottom right, #581845, #900C3F)
// }

$colors: (
  primary:    #2D9CDB,
  // primary:    #18b24f,
  secondary:  #23A65A,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  primary-font: #4f4f4f,
  neutral-grey: #aaa,
  focused-font: #C70039,

  // violet-color:         #581845,
  violet-color:         #581845,
  purple-color:         #900C3F,
  red-color:            #C70039,
  orange-color:         #FF5733,
  yellow-orange-color:  #F5A803,
  yellow-color:         #FFC300
  
);

.red {
  color: map-get($colors, red-color);
}
.green {
  color: map-get($colors, secondary);
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


/*
*
*
*
*
custom tab icons
*
*
*
*
*/

.ion-ios-custom-home, .ion-md-custom-home,
.ion-ios-custom-home-selected, .ion-md-custom-home-selected,

.ion-ios-custom-menu, .ion-md-custom-menu,
.ion-ios-custom-menu-selected, .ion-md-custom-menu-selected,

.ion-ios-favorites, .ion-md-favorites,
.ion-ios-favorites-selected, .ion-md-favorites-selected,

.ion-ios-orders, .ion-md-orders,
.ion-ios-orders-selected, .ion-md-orders-selected,

.ion-ios-profile, .ion-md-profile,
.ion-ios-profile-selected, .ion-md-profile-selected
{
  height: 32px;
  padding: 6px 4px 2px;
  // opacity: 0.9;
}

.ion-ios-custom-home, .ion-md-custom-home {
  content: url(../assets/imgs/home_icons/home.png);  
}
.ion-ios-custom-home-selcted, .ion-md-custom-home-selected {
  content: url(../assets/imgs/home_icons/home-selected-v2.png);  
}

.ion-ios-favorites, .ion-md-favorites {
  content: url(../assets/imgs/home_icons/favorites.png);  
}
.ion-ios-favorites-selected, .ion-md-favorites-selected {
  content: url(../assets/imgs/home_icons/favorites-selected-v2.png);  
}

.ion-ios-custom-menu, .ion-md-custom-menu {
  content: url(../assets/imgs/home_icons/menu.png);
}
.ion-ios-custom-menu-selected, .ion-md-custom-menu-selected {
  content: url(../assets/imgs/home_icons/menu-selected-v2.png);
}

.ion-ios-orders, .ion-md-orders {
  content: url(../assets/imgs/home_icons/orders.png);  
}
.ion-ios-orders-selected, .ion-md-orders-selected {
  content: url(../assets/imgs/home_icons/orders-selected-v2.png);  
}

.ion-ios-profile, .ion-md-profile {
  content: url(../assets/imgs/home_icons/profile-revised.png);  
}
.ion-ios-profile-selected, .ion-md-profile-selected {
  content: url(../assets/imgs/home_icons/profile-revised-selected-v2.png);  
}

/* end
*
*
*
*
custom tab gradients
*
*
*
*
*/

.violet-gradient > .tabbar {
  background: linear-gradient(to bottom right, #581845, #900C3F) !important;
}
.violet-gradient .tab-button {
  color: #fff !important;
}

.red-gradient > .toolbar-background-md {
  background: linear-gradient(to bottom right, #581845, #C70039) !important;
} .red-gradient .toolbar-title-md, .red-gradient .bar-button-default-md {
  color: #fff !important;
}

/* end
*
*
*
*
custom slide height
*
*
*
*
*/

ion-slides {
  height: inherit !important
}

/* end
*
*
*
*
custom items
*
*
*
*
*/

.item-md {
  border-bottom: 1px solid #efefef !important;
} .item-md.item-block .item-inner {
  border: none !important;
}

/* end
*
*
*
*
custom modals
*
*
*
*
*/

.no-scroll > .scroll-content {
  overflow: hidden !important;
}

.modal-container, .modal-background {
  width: 100%;
  height:100%;
}

.modal-container {
  position: fixed; 
  z-index: 150;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility .15s, opacity .15s ease-in-out;
}
.modal-container.open {
  visibility: visible;
  opacity: 1;
  transition: visibility .15s, opacity .15s ease-in-out;
}
.modal-background {
  background-color: rgba(0,0,0,0.7);
  
}
.modal-center {
  width: 85%;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) !important;
}
.modal-container .modal, .modal-container.open .modal.close {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(.5);
  transition: all .15s ease-in-out;
}
.modal-container.open .modal {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  // transition: all .15s ease-in-out;
}
ion-card.friend-list {
  border-radius: 12px !important;
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
}
.friend-list > ion-card-header {
  background: linear-gradient(to bottom right, #581845, #C70039) !important;
  color: #fff; 
  padding: 5px 0 5px 5px !important
}
.friend-list .grid-container {
  overflow: scroll !important;
  height: 45vh !important;
  padding: 5px;
}
.friend-page .grid-container {
  height: 100% !important;
}
.friend-list .image {
  position: relative;
}
.friend-list .indicator, .promo-one .indicator, .promo-two .indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0, .4);
  z-index: 10;
}
.category .indicator {
  top: 45% !important;
}
.friend-list .indicator {
  height: 50%;
  width: 50%;
}
.promo-one .indicator, .promo-two .indicator {
  height: 100px;
  width: 100px;
}
.friend-list .center, .promo-one .center, .promo-two .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.friend-list .check-mark, .promo-one .check-mark, .promo-two .check-mark {
  border:  solid map-get($colors, primary);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  height: 20px;
  width: 10px; 
}
.friend-list img {
  border-radius: 50%;
}
.friend-list button {
  margin: 0 !important;
}
.friend-list .highlighted {
  color: map-get($colors, primary)
}


/* end
*
*
*
*
custom home header
*
*
*
*
*/
ion-searchbar input {
  border-radius: 24px !important
}

ion-searchbar .searchbar-input {
  border-radius: 30px !important;
}
.home-header {
  position: fixed;
  z-index: 100;
  padding: 0 !important;
} .home-header > ion-row {
  padding: 0 !important;
} .home-header > ion-row > ion-col {
  padding: 0 !important;
} .home-header .menu-button {
  margin: 8px 10px 0 0 !important;
  background-color: #fff;
  padding:2px;
  border-radius: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .4);
  float: right;
} .recepient-button {
  position: relative;
} .recepient-button > span {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}



ion-searchbar.with-input input {
  border-radius: 22px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search-result-container {
  margin: -10px 8px 0 8px !important;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .4);
  max-height: 50vh;
  overflow-y: scroll;
}

/* end
*
*
*
*
map image
*
*
*
*
*/

ion-scroll {
  white-space: nowrap;
}

/* end
*
*
*
*
custom segments
*
*
*
*
*/

.segment-header {
  padding-left: 10px;
  color: map-get($colors, violet-color)
} .segment-content {
  height: 74px;
  width: 100%;
  margin-left: 10px;
} .segment-content img.popular-stores {
  height: 70px;
  width: 70px;
  border-radius: 35px !important;
  margin-right: 5px; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
} .segment-content img.popular-products {
  height: 70px;
  width: 70px;
  border-radius: 12px !important;
  margin-right: 5px; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

/* end
*
*
*
*
custom card group
*
*
*
*
*/

ion-card.product-group {
  border-radius: 12px;
} .product-group ion-card-header {
  background: linear-gradient(to bottom right, #581845, #900C3F) !important;
  color: #fff; 
  padding: 10px 0 10px 10px !important
} .product-group > .product-list {
  column-count: 3;
  column-gap: 0px;
  margin: 0px !important;
} .product-group .product {
  position: relative;
  padding: 0px !important;
  margin-bottom: -4px !important;
} .product-group div.rating {
  color: #FFC300;
  position: absolute;
  top: 7px; 
  left: 0; 
  z-index: 4; 
  font-size: 11px; 
  transform: rotate(-45deg)
} .product-group img.rating-background {
  width: 40px !important; 
  position: absolute; 
  left: 0; 
  top: 0; 
  border-top-left-radius: 0 !important;
} .product-group div.product-name {
  line-height:20px;
  color: #fff;
  background-color: rgba(0,0,0, .4);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  white-space: normal !important;
}

/* end
*
*
*
*
custom card list
*
*
*
*
*/



.product-list {
  column-count: 3;
  column-gap: 5px;
  margin: 10px !important;
} .product {
      display: inline-block;
      margin: 0 0 2px 0 !important;
      border-radius: 12px !important;
      position: relative; 
      width: 100% !important;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2) !important;
      opacity: 1;
      transition: opacity .15s;
  } .product-slide {
    margin-bottom: -5px !important;
  } .product .rating {
      color: #FFC300;
      position: absolute;
      top: 7px; left: 0;
      z-index: 30;
      font-size: 11px;
      transform: rotate(-45deg)
  } .product img.rating-background {
      width: 40px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      border-top-left-radius: 12px;
  } .product  .non-round {
      border-top-left-radius: 0 !important;
  } .product .image {
      position: relative;
  } .product .product-page-image {
    width: 100vw;
  }
  .product .image img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  // .image img {
  //   border-top-left-radius: 12px;
  //   border-top-right-radius: 12px;
  // }
  
  .image > label.checkbox-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
  } label.checkbox-container > input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
  } .checkmark {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      border: 2px solid #787878;
      background-color: #fff;
  } label.checkbox-container input:checked ~ .checkmark {
      background-color: map-get($colors, primary);
      border-color: map-get($colors, primary);
  } .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  } label.checkbox-container input:checked ~ .checkmark:after {
      display: block;
  } label.checkbox-container .checkmark:after {
      left: 4px;
      top: 0;
      position: absolute;
      width: 3px;
      height: 8px;
      border-width: 2px;
      border-top-width: 0;
      border-left-width: 0;
      border-style: solid;
      border-color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }

  .image > img.product-image {
    border-radius: 12px 12px 0 0 !important;
  }
  
  .image > .options {
      position: absolute;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
  } .options > .options-group {
      transform: translate(0,-50%);
      position: absolute;
      top: 50%;
      width: 100%;
  } .options .quantity h1 {
      color: #fff !important;
  } .options .quantity ion-col:nth-child(2) h1 {
      font-weight: 700;
  }
  .product > ion-card-content {
      padding: 0;
      display: inline-block !important;
      visibility: visible !important;
      width: 100%;
  } ion-card-content > .info {
      padding: 0 5px;
  }
  .price-on-sale {
    text-decoration: line-through;
  }
  .sale {
    padding: 0 5px !important;
    min-height: 18px;
    line-height: 20px;
    white-space: normal !important;
    color: #fff;
    background: linear-gradient(to bottom right, #C70039, #FF5733) !important;
  }
  .added-to-cart {
    visibility: visible !important;
  }
  .removed-from-cart {
    visibility: hidden !important;
  }
  .animate-out {
      opacity: 0;
  }


  /* end
*
*
*
*
orders
*
*
*
*
*/

.scroll-container {
  margin-bottom: 54px;
}

.small, .small * {
  font-size: 12px !important;
  white-space: normal !important;
}

.small.category-filter {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 100;
  background-color: #fff
}

ion-segment {
   position: sticky; 
   top: 0; 
   background-color: #fff;
   z-index: 200
}
ion-card-header > span {
  vertical-align: -webkit-baseline-middle !important;
}

.toggle-item {
  margin: 0 0 10px 0 !important;
}
.toggle-item > .item-inner, .cart-header > .item-inner, .checkout-item > .item-inner, .margin-item {
  border: none !important;
}
.cart-header {
  z-index: 1;
  border-bottom: none !important;
}
.cart-details .summary-item {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}
.cart-details .summary-item.first {
  padding-top: 10px !important;
}
.cart-details .summary-item.last {
  padding-bottom: 10px !important;
}

.cart-details {
  margin-top: -14px !important;
}
.cart-header span {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  float: right
}
.toggle-item ion-label span {
   font-size: 12px;
   font-weight: 600;
   line-height: 18px;
   float: right;
}
.checkout-item, .checkout-button {
  height: 44px !important;
  margin: 0 !important;
}
.checkout-item {
  position: fixed !important;
  bottom: 56px !important;
  z-index: 100 !important;
}
.checkout-item ion-checkbox[disabled], .checkout-item ion-label {
  opacity: 1 !important;
}

.store-state-label-open {
  color: map-get($colors, primary)
}
.store-state-label-closed {
  color: map-get($colors, red-color)
}
.custom-toggle .toggle-inner {
  background: map-get($colors, red-color) !important;
}
.custom-toggle .toggle-icon {
  background-color: #efc2cf !important;
}
.cart-details, .margin-item {
  margin-bottom: 10px !important;
}
.cart-details ion-avatar img {
  border-radius: 5px !important;
}
.cart-details .item-price {
  padding: 0; margin-top: 8px; 
}
.cart-details .item-quantity, .cart-details .item-quantity > ion-row, .cart-details .remove-quantity, .cart-details .add-quantity {
  padding: 0;
}
.cart-details .remove-quantity > button, .cart-details .add-quantity > button {
  margin: 0 !important;
}
.orders ion-avatar > div {
  position: relative;
}
.orders ion-avatar > div > .gift-icon {
  position: absolute;
  width: 50%;
  max-height: 50%;
  bottom: 0;
  right: 0;
  border-radius: 0;
}
.gift-options {
  background-color: #fff;
}
.gift-options .gift-icon {
  position: absolute;
  bottom: 3px;
  left: 50%;
  width: 50%;
  border-radius: 0;
}
.orders ion-row,.orders ion-row ion-col {
  padding-left: 0;
}

.orders .gift-indicator {
  height: 16px;
  padding-right: 3px;
  display:  inline-block !important;
  vertical-align: middle;
}

.gift-options > .outer-container {
  position: relative;
  height: 40px;
  width: 100%
}
.outer-container > .outer-container-position {
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translate(-50%, 0)
}
.outer-container-position > .inner-container {
  position: relative
}
.inner-container > .gift-avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%
}
.gift-options > .gift-name {
  margin: 10px !important
}
.gift-options > .gift-message {
  margin: 0 0 10px 0 !important
}
.gift-options > ion-row {
  padding: 0; 
}
.gift-options ion-col {
  padding-top: 0;
  padding-bottom: 0;
}
.gift-options ion-col button {
  margin: 0 !important;
}

  /* end
*
*
*
*
checkout
*
*
*
*
*/

ion-avatar.recepient-avatar, ion-avatar.recepient-avatar img, .promo-one ion-avatar, .promo-one ion-avatar img, .promo-two ion-avatar, .promo-two ion-avatar img {
  min-height: 25px !important;
  min-width: 25px !important;
  height: 25px !important;
  width: 25px !important;
}

/* end
*
*
*
*
order history
*
*
*
*
*/

.order-state-container {
  background-color: #fff;
  padding: 10px 0 10px 0;
  margin-bottom: 10px;
  position: relative;
}
.marker {
  position: absolute;
  left: 16px;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid map-get($colors, primary-font);
  background-color: #fff;
  z-index: 10;
}
.marker.first {
  top: 21px
}
.marker.second {
  top: 88px
}
.marker.third {
  top: 141px
}
.marker-line {
  width: 1px;
  height: 125px;
  background-color: map-get($colors, primary-font);
  position: absolute;
  top: 25px;
  left: 22px;
}
.order-state-container .state-header {
  padding-left: 50px !important;
}
.order-state-container .margin-top {
  margin-top: 18px;
}
.order-state-container hr, .order-state {
  margin: 3px 0 0 50px;
}
.order-state-container h6 {
  margin: 0; padding-left: 50px
}
.order-state-container ion-col:nth-of-type(1) {
  padding: 3px 5px 0 50px;
}
.order-state-container ion-col:nth-of-type(2) {
  padding: 3px 0 0 0;
}
.order-state-container .marked {
  border-color: map-get($colors, primary);
  background-color: map-get($colors, primary);
}

/* end
*
*
*
*
bg
*
*
*
*
*/

.color-bg {
  background-image: url(../assets/imgs/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.message-container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #fff;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 12px;
}

.message-container h4 {
  color: map-get($colors, yellow-color)
}

/* end
*
*
*
*
bg
*
*
*
*
*/

.empty-placeholder-container {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%)
} .empty-placeholder-container > .placeholder-image {
  width: 50vw
} .empty-placeholder-container > .placeholder-text {
  color: map-get($colors, neutral-grey) !important
}

.unseen {
  background-color: rgb(233, 233, 233) !important;
}

/* end
*
*
*
*
profile
*
*
*
*
*/

.profile-card {
  border-radius: 12px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}
.profile-card.round {
  border-radius: 50% !important;
}

.right {
  float: right !important;
}


/* end
*
*
*
*
product page
*
*
*
*
*/


.pg-product-info {
  background-color: #fff;
  display: flow-root;
}
.pg-item-quantity {
  margin-top: -8px;
}
.pg-product-name, .pg-product-price {
  padding-left: 16px !important;
}
.vertical-middle,  {
  vertical-align: -webkit-baseline-middle;
}
.pg-questions ion-row, .pg-questions ion-col {
  padding-left: 0; 
}
.pg-questions.inner {
  padding-left: 70px !important;
}
.pg-question-avatar {
  position: absolute;
  top:20px;
}
.pg-full-button {
  margin-top: 0 !important;
  box-shadow: none !important;
}

.neutral-grey {
  color: map-get($colors, neutral-grey)
}

.rating-item {
  border-bottom: none !important;
}
.rating-item .label {
  margin: 0 !important;
}
.rating-item button {
  margin: 0 !important;
}
.comment-item textarea {
  margin: 0 !important;
}
.comment-item {
  border-bottom: none !important;
}


/* end
*
*
*
*
promo page
*
*
*
*
*/

.promo-one, .promo-two {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 12px !important;
  position: relative;
}

.promo-one.promo-selected, .promo-two.promo-selected {
  box-shadow: 0 0 20px rgba(45,156,219, 05) !important;
}

.promo-one ion-item, .promo-two ion-item {
  background-color: transparent !important;
  // border-bottom: 1px solid #fff !important;
}

.promo-one .center-col, .promo-two .center-col {
  padding-top: 20px !important;
}

.promo-one .last-item, .promo-two .last-item {
  border-bottom: 0 !important;
}

.promo-one *, .promo-two * {
  color: #fff !important;
}

.promo-one h1, .promo-two h1 {
  font-size: 40px !important;
  line-height: 40px !important;
  margin: 10px 0 0 0 !important;
  font-weight: 600 !important;

}

.promo-one {
  background-image: url(../assets/imgs/promo_one.png) !important;
}
.promo-two {
  background-image: url(../assets/imgs/promo_two.png) !important;
}

/* end
*
*
*
*
categories page
*
*
*
*
*/

.category-sidebar {
  height: calc(100% - 140px);
  width: 70px;
  background-color: #fff;
  border-top: 1px solid #efefef;
  position: fixed;
  top: 84px;
  left: 0;
  overflow: scroll !important;
}

.category-result {
  width: calc(100% - 70px) !important;
  position: absolute;
  top: 44px;
  right: 0;
}

.category-result > .product-list {
  column-count: 2 !important;
}

.category {
  position: relative;
  height: 70px;
  width: 70px;
}

.category > img, .category > .selected {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px
} 

.category > .selected {
  visibility: visible !important;
}

/* end
*
*
*
*
vending machine
*
*
*
*
*/
.vending-frame {
  background: linear-gradient(to bottom right,  #581845, #900C3F) !important;
  // background-color: map-get($colors, primary-font) !important; 
}

.vending-content {
  background-color: map-get($colors, primary-font);
  width: calc(100% - 20px);
  height: calc(100% - 80px);
  margin: 10px 10px 0 10px;
  border-radius: 12px;
}


.vending-frame .vending-category {
  height: 20%;
  width: 100%;
  position: relative;
}

.vending-category img.tray {
  position: absolute;
  bottom: -5px;
  z-index: 5;
}

.vending-row {
  // padding-top: 15px !important;
  z-index: 100;
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  height: 80% !important;
  padding: 0 !important;
}

 .vending-row ion-col, .grocery-row ion-col {
   padding: 10px 0 0 0 !important;
   z-index: 10 !important;
 }

.vending-row img.drink {
  height: 100%;
}

.toolbar-md {
  min-height: 26px !important;
}
.segment-md .segment-button {
  height: 32px !important;
  line-height: 32px !important;
}

.drop-container {
  width: calc(100% - 20px);
  height: 50px;
  background-color: #2d2d2d;
  margin: 10px;
  border-radius: 12px;
}
.drop-container h2 {
  padding-top: 9px;
  color: #fff;
}

/* end
*
*
*
*
dragula css
*
*
*
*
*/

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* end
*
*
*
*
grocery 
*
*
*
*
*/

.vending-frame .vending-category {
  height: 20%;
  width: 100%;
  position: relative;
}

.grocery-content {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #725d51;
}

.multi-segment {
  display: -webkit-box !important;
}

.grocery-row {
  // padding-top: 15px !important;
  z-index: 100;
  height: 80% !important;
  padding: 0 !important;
}

.auth-back {
  margin: -10px 0 0 0 !important;
}


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
