<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <!--toggle for viewing open or closed stores-->
  <ion-item class="toggle-item">
    <ion-avatar class="recepient-avatar" item-start>
      <img [src]="store.logo"/>
    </ion-avatar>
    {{store.name}}
    <span class="store-state-label-closed" *ngIf="!store.state">closed</span>
    <span class="store-state-label-open" *ngIf="store.state">open</span>
  </ion-item>

  <ion-slides pager loop="true">
    <ion-slide class="product product-slide">
      <div class="rating"> {{product.rating | number:'0.1-1'}} &nbsp;<ion-icon name="star" item-end></ion-icon></div>
      <img class="rating-background non-round" src="assets/imgs/products/rating-background.png">
      <img class="product-page-image" [src]="product.image" (click)="addToCart(product.prodId)"/>
    </ion-slide>
  </ion-slides>

  <div class="pg-product-info">
    <h6 class="pg-product-name">{{product.name}}</h6>
    <span class="pg-product-price"><b>₱{{product.price | number:'0.2-2'}}</b></span>
  
    <div class="pg-item-quantity right">
  
      <button ion-button clear small icon-only color="red-color" (click)="toggleFavorite(product.prodId, product.inFavorites)"><ion-icon [name]="heartState"></ion-icon></button>
  
      <span class="remove-quantity" text-center>
        <button ion-button clear small icon-only (click)="removeFromCart(product.prodId)" *ngIf="product.quantity > 0"><ion-icon name="remove"></ion-icon></button>
      </span>
      <span class="vertical-middle" text-center *ngIf="product.quantity > 0"><b>{{product.quantity}}</b></span>
      <span class="add-quantity" text-center>
        <button ion-button clear small icon-only (click)="addToCart(product.prodId)"><ion-icon name="add"></ion-icon></button>
      </span>
      
    </div>
  </div>

  <ion-item class="small" text-justify>
    item description will be placed here. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  </ion-item>

  <!--Most popular products-->
  <h6 class="segment-header">Other people bought</h6>
  <ion-scroll class="segment-content margin-item" scrollX="true" nowrap>
      <img class="popular-products" *ngFor="let product of products" [src]="product.image">
  </ion-scroll>

  <!--
    *
    *
    *
    FAQ
    *
    *
    *
  -->

  <ion-item>
    Frequently Asked
    <button (click)="goToQA()" item-end small ion-button icon-right clear [color]="theme">4 question(s)<ion-icon name="chatbubbles"></ion-icon></button>
  </ion-item>

  <!-- initial question -->
  <ion-item class="pg-questions small">
    <ion-avatar item-start>
      <img class="pg-question-avatar" src="assets/imgs/user/avatar.jpg"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>Michael John C. Ponce</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</span>
  </ion-item>

  <!-- reply to initial question: continuation of thread -->
  <ion-item class="pg-questions inner small">
    <ion-avatar item-start>
      <img class="pg-question-avatar" [src]="store.logo"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>{{store.name}}</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
  </ion-item>

  <!-- another initial question -->
  <ion-item class="pg-questions small">
    <ion-avatar item-start>
      <img class="pg-question-avatar" src="assets/imgs/friends/babe_1.jpg"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>Mary Rose</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem abore et dolore magna aliqua?</span>
  </ion-item>

  <ion-item class="rating-item">
    <span class="vertical-middle">Have a question? Ask here.</span>
  </ion-item>
  <ion-item class="comment-item small">
    <ion-textarea placeholder="Help us improve our line of food by giving your review! Enter your message here..."></ion-textarea>
  </ion-item>
  <ion-item class="margin-item">
    <button item-end ion-button small>Save</button>
  </ion-item>

  <!--
    *
    *
    *
    reviews and ratings
    *
    *
    *
  -->

  <ion-item>
    Product Reviews
    <button (click)="goToReviews()" item-end small ion-button icon-right clear>2 review(s)<ion-icon name="star"></ion-icon></button>
  </ion-item>

  <!-- review -->
  <ion-item class="pg-questions small">
    <ion-avatar item-start>
      <img class="pg-question-avatar" src="assets/imgs/user/avatar.jpg"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>Michael John C. Ponce</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem ipsum dolor sit amet, core et dolore magna aliqua.</span>

    <ion-item>
      <ion-textarea placeholder="Enter your reply here..."></ion-textarea>
    </ion-item>
    
    <div text-right>
      <button ion-button small icon-right clear>Send <ion-icon name="send"></ion-icon></button>
    </div>
  </ion-item>

  <!-- review -->
  <ion-item class="pg-questions small">
    <ion-avatar item-start>
      <img class="pg-question-avatar" src="assets/imgs/friends/babe_4.jpg"/>
    </ion-avatar>
    <ion-row>
      <ion-col>
        <b>Rebecca Lin</b>
      </ion-col>
      <ion-col text-right>
        11/18/2018
      </ion-col>
    </ion-row>
    <span>Lorem abore et dolore magna aliqua or sit amet, core et dolore</span>
    <div text-right>
      <button ion-button small icon-right clear>Reply <ion-icon name="chatbubbles"></ion-icon></button>
    </div>
  </ion-item>

  <ion-item class="rating-item">
    <span class="vertical-middle">Give us a rating!</span>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button icon-only clear color="yellow-color" small><ion-icon name="star-outline"></ion-icon></button>
  </ion-item>
  <ion-item class="comment-item small">
    <ion-textarea placeholder="Help us improve our line of food by giving your review! Enter your message here..."></ion-textarea>
  </ion-item>
  <ion-item>
    <button item-end ion-button small>Save</button>
  </ion-item>
  

</ion-content>
     