<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient" >
    <ion-title>My Friends</ion-title>

    <ion-buttons end>
      <button ion-button (click)="openModal = !openModal">add&nbsp;<ion-icon name="add"></ion-icon></button>
    </ion-buttons>
      <!--<button ion-button (click)="openFriend = !openFriend">TEST&nbsp;<ion-icon name="add"></ion-icon></button>-->


  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef" [ngClass]="{'no-scroll' : openModal}">

  <!--from friend-->
  <ion-item *ngFor="let fr of friendsReq">
  <div class="margin-item gift-options" padding>
    <div class="outer-container">
      <div class="outer-container-position">
        <div class="inner-container">
          <img style="background-color: #fff; border-radius: 50%; padding: 2px; box-shadow: 0 0 2px rgba(0,0,0,.5)" class="gift-icon" src="assets/imgs/user/friends.svg">
          <img class="gift-avatar" src="assets/imgs/user/avatar.jpg">
        </div>
      </div>
    </div>
    <h6 class="gift-name" text-center>{{fr.firstname}} {{fr.lastname}}</h6>
    <p class="gift-message small" text-center>wants to be friends with you.</p>
    <p class="gift-message small">When accepting a friend request, you are giving permission to a person to view your addresses, in order to receive gifts.</p>
    <ion-row>
      <ion-col>
        <button ion-button small block round color="red-color" (click)="deleteReq(fr.friend_list_id, fr.friend_request_from, fr.firstname, fr.lastname)">Decline</button>
      </ion-col>
      <ion-col>
        <button ion-button small block round (click)="acceptReq(fr.friend_list_id, fr.friend_request_from, fr.firstname, fr.lastname)">Accept</button>
      </ion-col>
    </ion-row>

  </div>
  </ion-item>

  <!--<ion-list class="margin-item">
    <ion-item *ngFor="let fr of friendsReq" class="small" (click)="goToAddress(fr.firstname)">
      {{fr.firstname}} {{fr.lastname}}
    </ion-item>
    (click)="searchClicked(add.description)
  </ion-list>-->





   <!--
      *
      *
      *
      recepient modal
      *
      *
      *
      start -->
      <div class="modal-container" [ngClass]="{'open' : openModal}">

          <div class="modal-background" (click)="openModal = !openModal"></div>

          <div class="modal-center">
            <div class="modal">
              <ion-card class="friend-list">
                <ion-card-header>
                  <button (click)="openModal = !openModal" ion-button small item-start icon-only clear color="light"><ion-icon name="close"></ion-icon></button>
                  <span>Forming your friend request</span>
                </ion-card-header>
                <ion-card-content>
                  <span class="small" style="margin-top: 10px !important; display: inherit">To send your orders as gifts to others, befriend them first. Enter the phone number of your friend below for them to accept your request.</span>
                  <ion-input style="font-size: 25px" type="tel" placeholder="ex. 09278367263" [(ngModel)]="mobileReq" maxlength="12"></ion-input>
                </ion-card-content>
                <ion-row style="padding: 0">
                  <ion-col col-6 style="padding: 0">
                    <button ion-button small full color="red-color" (click)="openModal = !openModal">cancel</button>
                  </ion-col>
                  <ion-col col-6 style="padding: 0">
                    <button ion-button small full (click)="addFriend()">send</button>
                  </ion-col>
                </ion-row>
              </ion-card>
            </div>

          </div>

        </div>

        <div class="modal-container" [ngClass]="{'open' : openFriend}">

          <div class="modal-background" (click)="openFriend = !openFriend"></div>

          <div class="modal-center">
            <div class="modal">
              <ion-card class="friend-list">
                <ion-card-header>
                  <button (click)="openFriend = !openFriend" ion-button small item-start icon-only clear color="light"><ion-icon name="close"></ion-icon></button>
                  <span>Profile</span>
                </ion-card-header>
                <ion-card-content>
                  <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/user/avatar.jpg"/>
                  <p style="font-weight:normal;color:#000000;border: 5px solid #b5a759;letter-spacing:5pt;word-spacing:0pt;font-size:12px;text-align:center;font-family:georgia, serif;line-height:3;margin:8px;padding:8px;">{{reqFn}}<br><ion-icon name="phone-portrait"></ion-icon>{{mobileReq}}</p>
                </ion-card-content>
                <ion-row style="padding: 0">
                  <ion-col col-6 style="padding: 0">
                    <button ion-button small full color="red-color" (click)="openFriend = !openFriend">cancel</button>
                  </ion-col>
                  <ion-col col-6 style="padding: 0">
                    <button ion-button small full (click)="friendRequest()">add</button>
                  </ion-col>
                </ion-row>
              </ion-card>
            </div>

          </div>

        </div>

        <div class="modal-container" [ngClass]="{'open' : noResult}">

          <div class="modal-background" (click)="noResult = !noResult"></div>

          <div class="modal-center">
            <div class="modal">
              <ion-card class="friend-list">
                <ion-card-header>
                  <button (click)="noResult = !noResult" ion-button small item-start icon-only clear color="light"><ion-icon name="close"></ion-icon></button>
                  <span>Profile</span>
                </ion-card-header>
                <ion-card-content>
                  <span class="small" style="margin-top: 10px !important; display: inherit">Sorry! No Results.</span>

                </ion-card-content>
                <ion-row style="padding: 0">
                  <ion-col col-12 style="padding: 0">
                    <button ion-button small full color="red-color" (click)="noResult = !noResult">cancel</button>
                  </ion-col>

                </ion-row>
              </ion-card>
            </div>

          </div>

        </div>

        <!--
          *
          *
          *
          end of recepient modal
          *
          *
          *
          -->

  <!-- <div style="background-color: #fff; height: 80px; position: absolute; top: 0; width: 100%"></div> -->


  <!-- <div class="friend-page"> -->
  <div class="friend-list friend-page">
    <div style="position: sticky !important">
      <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/user/avatar.jpg"/>
      <p text-center style="color: #FF5733; margin: 2px">4.5&nbsp;<ion-icon name="star"></ion-icon></p>
      <h5 text-center style="margin: 2px">{{fullname}}</h5>
      <p class="small" text-center style="margin: 2px 0 10px 0">{{email}} - {{mobile}}</p>

      <br>
      <ion-item>
        <ion-icon name='body' item-start style="color: #55acee"></ion-icon>
        Friends
        <ion-badge item-end>{{friend_lists_count}}</ion-badge>
      </ion-item>

    </div>


    <div class="grid-container">

      <ion-row >
        <ion-col col-4 *ngFor="let friend of friend_lists">
          <div class="image">
            <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/personicon.png"/>
            <!--<img [src]="friend.image">-->
          </div>
          <p text-center>{{friend.firstname}} {{friend.lastname}}</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <!-- </div> -->

</ion-content>
