<!--
  Generated template for the QaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Frequently Asked Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <!-- initial question -->
  <ion-item class="pg-questions small">
      <ion-avatar item-start>
        <img class="pg-question-avatar" src="assets/imgs/user/avatar.jpg"/>
      </ion-avatar>
      <ion-row>
        <ion-col>
          <b>Michael John C. Ponce</b>
        </ion-col>
        <ion-col text-right>
          11/18/2018
        </ion-col>
      </ion-row>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</span>
    </ion-item>
  
    <!-- reply to initial question: continuation of thread -->
    <ion-item class="pg-questions inner small">
      <ion-avatar item-start>
        <img class="pg-question-avatar" [src]="store.logo"/>
      </ion-avatar>
      <ion-row>
        <ion-col>
          <b>{{store.name}}</b>
        </ion-col>
        <ion-col text-right>
          11/18/2018
        </ion-col>
      </ion-row>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
    </ion-item>
  
    <!-- another initial question -->
    <ion-item class="pg-questions small">
      <ion-avatar item-start>
        <img class="pg-question-avatar" src="assets/imgs/friends/babe_1.jpg"/>
      </ion-avatar>
      <ion-row>
        <ion-col>
          <b>Mary Rose</b>
        </ion-col>
        <ion-col text-right>
          11/18/2018
        </ion-col>
      </ion-row>
      <span>Lorem abore et dolore magna aliqua?</span>
    </ion-item>

</ion-content>
