<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #f5f5f5" [ngClass]="{'no-scroll' : openModal}">

  <!--
      *
      *
      *
      recepient modal
      *
      *
      *
      start -->
  <div class="modal-container" [ngClass]="{'open' : openModal}">

    <div class="modal-background" (click)="openModal = !openModal"></div>

    <div class="modal-center">
      <div class="modal">
        <ion-card class="friend-list">
          <ion-card-header>
            <button (click)="openModal = !openModal" ion-button small item-start icon-only clear color="light"><ion-icon name="close"></ion-icon></button>
            <span>Selecting recepient from friends</span>
          </ion-card-header>

          <div class="grid-container">
            <ion-row >
              <ion-col col-4 *ngFor="let friend of friend_lists; let i = index" (click)="setClickedRow(i, friend.friend_request_to)" [class.active]="i == selectedRow">
                <div>
                  <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/personicon.png"/>
                  <!--<img [src]="friend.image">-->
                </div>
                <p text-center [class.active]="i == selectedRow">{{friend.firstname}} {{friend.lastname}}</p>
              </ion-col>
            </ion-row>
          </div>

          <button ion-button full small (click)="openModal = !openModal">Set as recepient</button>
        </ion-card>
      </div>

    </div>

  </div>

  <!--
    *
    *
    *
    end of recepient modal
    *
    *
    *
    -->

  <!--listing all stores and items in checkout-->
  <ion-item-group *ngFor="let store of stores">

    <!--if checkout from open stores   (ionChange)="removeStoreFromCheckout(store.storeId) -->
    <ion-item-group *ngIf="storeState && store.state && store.inCheckout">

      <ion-item class="cart-header">
        <ion-checkbox [(ngModel)]="store.inCheckout" item-start *ngIf="stores.length > 1" (ionChange)="updateCheckout(store.inCheckout)"></ion-checkbox>
        <ion-label>
          <b>{{store.name}}</b>
          <span [ngClass]="storeState ? 'store-state-label-open' : 'store-state-label-closed'">Open</span>
          <ion-row>
            <span class="small">Distance 1.2Km ETA 60mins</span>
          </ion-row>
        </ion-label>
      </ion-item>

      <ion-list class="cart-details">

        <!--iterate throught products-->
        <div *ngFor="let product of products">

          <ion-item *ngIf="(store.storeId == product.storeId) && (product.quantity > 0)">
            <ion-avatar item-start>
              <img [src]="product.image">
            </ion-avatar>
            <span class="small">{{product.name}}</span>
            <ion-row>
              <ion-col col-3 class="small item-price">₱{{product.price | number:'0.2-2'}}</ion-col>
              <ion-col col-5 class="item-quantity">
                <ion-row>
                  <ion-col class="remove-quantity" text-center>
                    <button ion-button clear small icon-only (click)="decreaseProduct(product.prodId)"><ion-icon name="remove"></ion-icon></button>
                  </ion-col>
                  <ion-col text-center><b>{{product.quantity}}</b></ion-col>
                  <ion-col class="add-quantity" text-center>
                    <button ion-button clear small icon-only (click)="increaseProduct(product.prodId)"><ion-icon name="add"></ion-icon></button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-4 class="small item-price" text-right>₱{{product.quantityPrice | number:'0.2-2'}}</ion-col>
            </ion-row>
          </ion-item>

        </div>

        <ion-row class="summary-item first small">
          <ion-col>
            Delivery fee
          </ion-col>
          <ion-col text-right>
            <b>₱{{store.deliveryFee | number:'0.2-2'}}</b>
          </ion-col>
        </ion-row>
        <ion-row class="summary-item last">
          <ion-col>
            Total
          </ion-col>
          <ion-col text-right class="red">
            <b>₱{{store.cartTotal + store.deliveryFee | number:'0.2-2'}}</b>
          </ion-col>
        </ion-row>

      </ion-list>

    </ion-item-group>

    <!--if stores are closed (ionChange)="removeStoreFromCheckout(store.storeId)" -->
    <ion-item-group *ngIf="!storeState && !store.state && store.inCheckout">

      <ion-item class="cart-header">
        <ion-checkbox color="red-color" [(ngModel)]="store.inCheckout" item-start *ngIf="stores.length > 1" (ionChange)="updateCheckout(store.inCheckout)"></ion-checkbox>
        <ion-label>
          <b>{{store.storeName}}</b>
          <span [ngClass]="storeState ? 'store-state-label-open' : 'store-state-label-closed'">Closed</span>
          <ion-row>
            <span class="small">Distance 1.2Km ETA 60mins</span>
          </ion-row>
        </ion-label>
      </ion-item>

      <ion-list class="cart-details">

        <!--iterate throught products-->
        <div *ngFor="let product of products">

          <ion-item *ngIf="(store.storeId == product.storeId) && (product.quantity > 0)">
            <ion-avatar item-start>
              <img [src]="product.image">
            </ion-avatar>
            <span class="small">{{product.name}}</span>
            <ion-row>
              <ion-col col-3 class="small item-price">₱{{product.price | number:'0.2-2'}}</ion-col>
              <ion-col col-5 class="item-quantity">
                <ion-row>
                  <ion-col class="remove-quantity" text-center>
                    <button color="red-color" ion-button clear small icon-only (click)="decreaseProduct(product.prodId)"><ion-icon name="remove"></ion-icon></button>
                  </ion-col>
                  <ion-col text-center><b>{{product.quantity}}</b></ion-col>
                  <ion-col class="add-quantity" text-center>
                    <button color="red-color" ion-button clear small icon-only (click)="increaseProduct(product.prodId)"><ion-icon name="add"></ion-icon></button>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-4 class="small item-price" text-right>₱{{product.quantityPrice | number:'0.2-2'}}</ion-col>
            </ion-row>
          </ion-item>

        </div>

        <ion-row class="summary-item first small">
          <ion-col>
            Delivery fee
          </ion-col>
          <ion-col text-right>
            <b>₱{{store.deliveryFee | number:'0.2-2'}}</b>
          </ion-col>
        </ion-row>
        <ion-row class="summary-item last">
          <ion-col>
            Total
          </ion-col>
          <ion-col text-right class="red">
            <b>₱{{store.cartTotal + store.deliveryFee | number:'0.2-2'}}</b>
          </ion-col>
        </ion-row>

      </ion-list>

    </ion-item-group>

  </ion-item-group>

  <!--
    *
    *
    *
    after listing stores, list summary
    *
    *
    *
    -->

  <!--if recepient is self-->
  <ion-item-group *ngIf="friendSelected == null">
    <ion-item>
      Delivery Address
    <button item-end small ion-button outline [color]="theme" (click)="addAddress()">ADD +</button>
    </ion-item>
    <div radio-group [(ngModel)]="deliveryAddress" class="margin-item">
      <ion-item *ngFor="let a of myDeliveryAddress" >
        <ion-radio item-start [color]="theme" [value]="a.address" (click)="selectAddress(a.address)"></ion-radio>
        <ion-label class="small">{{a.address}}</ion-label>
      </ion-item>
    </div>
  </ion-item-group>

  <!--recipient image : <ion-avatar class="recepient-avatar" item-end>
  <img [src]="friendImage"/>
</ion-avatar>-->

  <!--if recepient is friend-->
  <ion-item-group *ngIf="friendSelected !== null">
    <ion-item [color]="theme" (click)="openModal = !openModal">
      <span item-start>Delivery Recipient</span>
      <span item-end class="small">{{recipientName}}</span>
    </ion-item>
    <div radio-group [(ngModel)]="deliveryAddress" class="margin-item">
      <ion-item *ngFor="let a of myDeliveryAddress">
        <ion-radio item-start [color]="theme" [value]="a.address" (click)="selectAddress(a.address)"></ion-radio>
        <ion-label class="small">{{a.address}}</ion-label>
      </ion-item>
    </div>
  </ion-item-group>

  <!--if store(s) is/are open-->
  <ion-item-group *ngIf="storeState">
    <ion-item>
      Delivery Time
    </ion-item>
    <ion-row class="small margin-item" radio-group [(ngModel)]="deliveryMode" style="padding: 0">
      <ion-col style="padding: 0">
        <ion-item>
          <ion-radio item-start value="asap" (click)="selectTypeOfDelivery('asap')"></ion-radio>
          <ion-label>ASAP</ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="padding: 0">
        <ion-item>
          <ion-radio item-start value="advancedDelivery" (click)="selectTypeOfDelivery('advance')"></ion-radio>
          <ion-label>Advanced</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item class="margin-item" *ngIf="deliveryMode == 'advancedDelivery'">
      <ion-label style="font-size: 14px;">Delivery date and time</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY hh:mm a" min="2018-08-30" [(ngModel)]="deliveryDate" placeholder="9/18/2018 02:24 PM" ></ion-datetime>
    </ion-item>
    <ion-item>
      <p>{{checkout_delivery_date}}</p>
    </ion-item>
  </ion-item-group>

  <!--if store(s) is/are closed-->
  <ion-item-group *ngIf="!storeState">
    <ion-item class="margin-item">
      <ion-label style="font-size: 14px;">Delivery date and time</ion-label>
      <ion-datetime  displayFormat="M/D/YYYY h:m a" min="2018-08-30" [(ngModel)]="deliveryDate" placeholder="5/18/2018 02:24 PM" ></ion-datetime>
    </ion-item>
  </ion-item-group>

  <ion-item>
    Payment Options
  </ion-item>
  <div radio-group [(ngModel)]="paymentMode" class="small margin-item">
    <ion-item>
      <ion-radio item-start value="cash" [color]="theme" [disabled]="friendSelected" (click)="selectTypeOfPayment('cash')"></ion-radio>
      <ion-label>Cash on delivery</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio item-start value="weChat" [color]="theme" (click)="selectTypeOfPayment('weChat')"></ion-radio>
      <ion-label>WeChat payment</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio item-start value="creditCard" [color]="theme" (click)="selectTypeOfPayment('creditCard')"></ion-radio>
      <ion-label>Credit Card</ion-label>
    </ion-item>
  </div>

  <ion-list class="margin-item" *ngIf="paymentMode == 'creditCard'">
    <ion-item>
      Credit Card Information
    </ion-item>
    <ion-item>
      <ion-label stacked>Name on Card</ion-label>
      <ion-input type="text" placeholder="Michael John Ponce" clearInput [(ngModel)]="cardName">{{cardName}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>16 digit Card Number</ion-label>
      <ion-input type="tel" maxlength="16" placeholder="6372 3728 8376 3626" clearInput [(ngModel)]="cardNumber" >{{cardNumber}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>3 digit CVV</ion-label>
      <ion-input type="tel" maxlength="3" placeholder="822" clearInput [(ngModel)]="cvv" >{{cvv}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Expiration Date (Month/Year)</ion-label>
      <ion-datetime displayFormat="MM/YYYY" min="2018" max="2030" placeholder="08/2018" [(ngModel)]="cardExpiration"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-item [ngClass]="{'margin-item' : !promoShown}">
    Available Discounts
    <button item-end small ion-button outline [color]="theme" *ngIf="!promoShown" (click)="togglePromos()">Use promo</button>
    <button item-end small ion-button outline [color]="theme" *ngIf="promoShown" (click)="togglePromos()">Cancel</button>
  </ion-item>
  <ion-item class="margin-item" *ngIf="promoShown">
    <span *ngIf="checkoutPromos.length == 0" class="red small">No available Promos for selected stores</span>
    <div *ngIf="checkoutPromos.length > 0">
      <ion-card *ngFor="let promo of checkoutPromos" [ngClass]="{'promo-one' : promo.type == 1, 'promo-two' : promo.type == 2}" (click)="toggleSelect(promo.promoId)">
        <div class="indicator" *ngIf="promo.selected">
          <div class="center">
            <div class="check-mark"></div>
          </div>
        </div>
        <ion-item class="small">
          <ion-avatar item-start>
            <img [src]="promo.logo">
          </ion-avatar>
          Applicable with <b>{{promo.storeName}}</b> only.
        </ion-item>
        <ion-row>
          <ion-col col-5 text-center>
            <h1>₱{{promo.discount}}</h1>
            <p>Discount</p>
          </ion-col>
          <ion-col col-2 text-center class="center-col">
            for
          </ion-col>
          <ion-col col-5 text-center>
            <h1>₱{{promo.cost}}</h1>
            <p>Points</p>
          </ion-col>
        </ion-row>
        <ion-item class="last-item">
          <p item-end>Valid Period <b><u>{{promo.period}}</u></b></p>
        </ion-item>
      </ion-card>
    </div>
  </ion-item>

  <ion-item *ngIf="totalDiscount > 0" class="small">
    <span>Total Discount</span>
    <span item-end class="green"><b>₱{{totalDiscount | number:'0.2-2'}}</b></span>
  </ion-item>

  <ion-item>
    <span><b>Grand Total</b></span>
    <span item-end class="red small" *ngIf="grandTotal < 0">(Non-reimbursable)</span>
    <span item-end class="red"><b>₱{{grandTotal | number:'0.2-2'}}</b></span>
  </ion-item>
  <ion-item>
    <span class="small">By placing your order upon clicking “Check out now”, you are bound by our agreement bla bla bla for lorem ispum anything goes or
something.</span>
  </ion-item>

  <button ion-button icon-right full [color]="theme" class="checkout-button" (click)="showCompletion()">
    <span *ngIf="storeState && friendSelected == null">Checkout Now</span>
    <span *ngIf="!storeState && friendSelected == null">Place advanced order now</span>
    <span *ngIf="friendSelected">Send gift request to {{recipientName}} </span>
    <ion-icon *ngIf="friendSelected" name="send"> </ion-icon>

  </button>

</ion-content>
