<!--
  Generated template for the ImagemapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="red-gradient">
    <ion-title>Our Stores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="position: relative">

  <img *ngIf="manilaShown" style="position: fixed; top: 66px; left: 15px; z-index: 20" src="assets/imgs/stores_map/makati_button.png" height="44px" (click)="showMakati()">
  <img *ngIf="!manilaShown" style="position: fixed; top: 66px; right: 15px; z-index: 20" src="assets/imgs/stores_map/manila_button.png" height="44px" (click)="showManila()">

  <ion-scroll scrollY="true" scrollX="true" style="height: 100%; width: 100%">
    <img style="height: 720px; width: 1280px; margin-bottom: -56px; max-width: 1280px" [src]="storeMap">
  </ion-scroll>

</ion-content>
