<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>
      My Favorites
    </ion-title>
    <ion-buttons end>

      <!--removing items-->
      <button ion-button icon-only color="light" (click)="showCheckbox = !showCheckbox" *ngIf="!showCheckbox">
        <ion-icon name="trash"></ion-icon>
      </button>

      <!--removing items-->
      <button ion-button icon-right color="light" *ngIf="showCheckbox && (selectedCount == 0)">
        select item(s)
        <ion-icon name="trash"></ion-icon>
      </button>

      <!--removing items-->
      <button ion-button icon-right color="light" (click)="remove()" *ngIf="showCheckbox && (selectedCount > 0)">
        remove selected
        <ion-icon name="trash"></ion-icon>
      </button>

      <!--cancel removing-->
      <button ion-button icon-only color="light" *ngIf="showCheckbox" (click)="cancelRemove()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #f5f5f5">

  <!--
  *
  *
  *
  empty cart indicator
  *
  *
  *
  start -->

  <div class="empty-placeholder-container" *ngIf="favoritesIsEmpty">
    <img class="placeholder-image" src="assets/imgs/placeholder/favorites-empty.png"/>
    <h6 text-center class="placeholder-text">Your Favorites is empty</h6>
  </div>

  <!--
  *
  *
  *
  *
  *
  *
  -->
  <!--favorites list-->
  <div class="product-list">

    <div *ngFor="let product of products; let i = index">

      <ion-card class="product" *ngIf="product.inFavorites" [ngClass]="{'animate-out' : product.removing}">

        <div class="rating"> {{product.rating | number:'0.1-1'}} &nbsp;<ion-icon name="star" item-end></ion-icon></div>
        <img class="rating-background" src="assets/imgs/products/rating-background.png">
        <div class="image">

          <!--checkbox for selecting items to remove-->
          <label class="checkbox-container" *ngIf="showCheckbox">
            <input type="checkbox" [(ngModel)]="product.toRemove" (click)="updateCount(i, product.toRemove)">
            <span class="checkmark"></span>
          </label>

          <!--when selecting items to delete, dont show quantity options-->
          <div *ngIf="!showCheckbox" class="options" [ngClass]="{'added-to-cart' : product.quantity, 'removed-from-cart' : product.quantity == 0}">
            <div class="options-group" text-center>
              <ion-row class="quantity">
                  <ion-col (click)="removeFromCart(product.prodId)"><h1>-</h1></ion-col>
                  <ion-col><h1>{{product.quantity}}</h1></ion-col>
                  <ion-col (click)="addToCart(product.prodId)"><h1>+</h1></ion-col>
              </ion-row>
            </div>
          </div>
          <!--if selecting items to delete, disable adding to cart-->
          <img class="product-image" [src]="product.image" (click)="addToCart(product.prodId)"/>
        </div>
        <ion-card-content>
          <div class="info">{{product.name}}</div>
          <div class="info" [ngClass]="{'price-on-sale' : product.discountedPrice}"><b>₱{{product.price | number:'0.2-2'}}</b></div>
          <div class="sale" *ngIf="product.discountedPrice" text-center>
            <b>₱{{product.discountedPrice | number:'0.2-2'}}</b>
            <b>SALE</b>
          </div>
        </ion-card-content>
      </ion-card>
      
    </div>

  </div>

</ion-content>
