<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Your Address</ion-title>
    <ion-buttons end>
      <!-- deleting items -->
      <button ion-button icon-right color="light" (click)="test()">
        SAVE
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="small">
    <p>Address</p>
    <p>{{selectedAddress}}</p>
  </ion-item>
  <ion-item >
    <ion-label stacked >Enter Address:</ion-label>
    <ion-input class="small" type="text" placeholder="ex. World Trade Exchange bldg, Juan Luna, Binondo Manila" [(ngModel)]="selectedAddress" (ionFocus)="goToSearch()"></ion-input>
  </ion-item>
  <ion-row class="small" radio-group [(ngModel)]="addressType" style="padding: 0">
    <ion-col col-4 style="padding: 0">
      <ion-item>
        <ion-radio item-start value="residential" style="margin: 0 5px 0 0"></ion-radio>
        <ion-label>Residential</ion-label>
      </ion-item>
    </ion-col>
    <ion-col col-4 style="padding: 0">
      <ion-item>
        <ion-radio item-start value="office" style="margin: 0 5px 0 0"></ion-radio>
        <ion-label>Office</ion-label>
      </ion-item>
    </ion-col>
    <ion-col col-4 style="padding: 0">
      <ion-item>
        <ion-radio item-start value="other" style="margin: 0 5px 0 0"></ion-radio>
        <ion-label>Other</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label stacked>Land mark</ion-label>
    <ion-input class="small" type="text" placeholder="ex. Green gate" [(ngModel)]="landmark"></ion-input>
  </ion-item>

  <!-- change this to actual google map -->

  <!--<ion-scroll scrollY="true" scrollX="true" style="height: 100%; width: 100%">-->
    <!--<img style="height: 753px; width: 1906px; margin-bottom: -56px; max-width: 1906px" src="assets/imgs/user/sample_address_map.jpg">-->
  <!--</ion-scroll>-->


  <ion-item >
    <div #map id="map" ></div>
  </ion-item>

  <ion-item >
    <ion-label stacked>latitude</ion-label>
    <ion-input type="text" [(ngModel)] = "lat" disabled="true"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label stacked>longitude</ion-label>
    <ion-input type="text" [(ngModel)] = "lng" disabled="true"></ion-input>
  </ion-item>

</ion-content>
