<!--
  Generated template for the GroceryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Grocery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="vending-frame">

  <!--segment for choosing view: my cart or my order history-->
  <ion-scroll scrollX=true style="background-color: #fff; height: 30px; width: 100%;">
      <button ion-button small clear *ngFor="let category of categories">{{category.name}}</button>
  </ion-scroll>

  <ion-scroll scrollY=true style="width: 100%; height: calc(100% - 100px)">
    <div class="grocery-content">
      <div class="vending-category" *ngFor="let row of chocolates">
        <ion-row class="grocery-row" [dragula]='"bag-two"' [dragulaModel]='row'>
          <ion-col col-2 *ngFor="let chocolate of row" text-center [attr.data-id]="chocolate.prodId">
            <img class="drink" [src]="chocolate.grocery_image">
          </ion-col>
        </ion-row>
        <img class="tray" src="assets/imgs/grocery/tray.png">
      </div>
    </div>
  </ion-scroll>

  <div class="drop-container">
    <!-- <h2 text-center>{{product.prodId}}</h2> -->
    <ion-row class="vending-row drop-area"  [dragula]='"bag-two"' [dragulaModel]='dropArea'>
      <ion-col col-1 *ngFor="let chocolate of dropArea" text-center [attr.data-id]="chocolate.prodId">
        <img class="drink" [src]="chocolate.grocery_image">
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>
