<!--
  Generated template for the VendingmachinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>Vending Machine</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="vending-frame">

  <div class="vending-content">

    <div class="vending-category">
      <ion-row class="vending-row vending-category" [dragula]='"bag-one"' [dragulaModel]='category_1'>
        <ion-col col-1 *ngFor="let drink of category_1" text-center [attr.data-id]="drink.prodId">
          <img class="drink" [src]="drink.vending_image">
        </ion-col>
      </ion-row>
      <img class="tray" src="assets/imgs/vending_machine/tray.png">
    </div>
  
    <div class="vending-category">
      <ion-row class="vending-row vending-category" [dragula]='"bag-one"' [dragulaModel]='category_2'>
        <ion-col col-1 *ngFor="let drink of category_2" text-center [attr.data-id]="drink.prodId">
          <img class="drink" [src]="drink.vending_image">
        </ion-col>
      </ion-row>
      <img class="tray" src="assets/imgs/vending_machine/tray.png">
    </div>
  
    <div class="vending-category">
      <ion-row class="vending-row vending-category" [dragula]='"bag-one"' [dragulaModel]='category_3'>
        <ion-col col-1 *ngFor="let drink of category_3" text-center [attr.data-id]="drink.prodId">
          <img class="drink" [src]="drink.vending_image">
        </ion-col>
      </ion-row>
      <img class="tray" src="assets/imgs/vending_machine/tray.png">
    </div>
  
    <div class="vending-category">
      <ion-row class="vending-row vending-category" [dragula]='"bag-one"' [dragulaModel]='category_4'>
        <ion-col col-1 *ngFor="let drink of category_4" text-center [attr.data-id]="drink.prodId">
          <img class="drink" [src]="drink.vending_image">
        </ion-col>
      </ion-row>
      <img class="tray" src="assets/imgs/vending_machine/tray.png">
    </div>
  
    <div class="vending-category">
      <ion-row class="vending-row vending-category" [dragula]='"bag-one"' [dragulaModel]='category_5'>
        <ion-col col-1 *ngFor="let drink of category_5" text-center [attr.data-id]="drink.prodId">
          <img class="drink" [src]="drink.vending_image">
        </ion-col>
      </ion-row>
      <img class="tray" src="assets/imgs/vending_machine/tray.png">
    </div>

  </div>

  <div class="drop-container">
    <!-- <h2 text-center>{{product.prodId}}</h2> -->
    <ion-row class="vending-row drop-area"  [dragula]='"bag-one"' [dragulaModel]='dropArea'>
      <ion-col col-1 *ngFor="let drink of dropArea" text-center [attr.data-id]="drink.prodId">
        <img class="drink" [src]="drink.vending_image">
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>
