<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>My Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #f5f5f5" [ngClass]="{'no-scroll' : openModal}">

  <!--segment for choosing view: my cart or my order history-->
  <ion-segment [(ngModel)]="view" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="myCart">
      My Cart
    </ion-segment-button>
    <ion-segment-button value="myOrderHistory">
      My Order History
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="view">

    <div *ngSwitchCase="'myCart'">

      <!--
      *
      *
      *
      empty cart indicator
      *
      *
      *
      start -->

      <div class="empty-placeholder-container" *ngIf="cartCount == 0">
        <img class="placeholder-image" src="assets/imgs/placeholder/cart-empty.png"/>
        <h6 class="placeholder-text" text-center>Your Cart is empty</h6>
      </div>

      <!--
      *
      *
      *
      recepient modal
      *
      *
      *
      start -->
      <div class="modal-container" [ngClass]="{'open' : openModal}">

        <div class="modal-background" (click)="openModal = !openModal"></div>

        <div class="modal-center">

          <div class="modal" [ngClass]="{'close' : goToNextModal}">
            <ion-grid *ngIf="!goToNextModal">
              <ion-row>
                <ion-col>
                  <div class="recepient-button" (click)="checkoutForSelf(this.customer_id)">
                    <span><b>Deliver to myself</b></span>
                    <img src="assets/imgs/menu_icons/deliver_to_myself_button.png">
                  </div>
                </ion-col>
                <ion-col>
                  <div class="recepient-button" (click)="goToNextModal = !goToNextModal">
                    <span><b>Deliver to a friend</b></span>
                    <img src="assets/imgs/menu_icons/deliver_to_a_friend_button.png">
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <!--next modal to appear, when 'deliver to friend' is selected-->
          <div class="modal" [ngClass]="{'close' : !goToNextModal}">

            <ion-card class="friend-list" *ngIf="goToNextModal">

              <ion-card-header>
                <button (click)="goToNextModal = !goToNextModal" ion-button small item-start icon-only clear color="light"><ion-icon name="arrow-back"></ion-icon></button>
                <span>Selecting recepient from friends</span>
              </ion-card-header>

              <div class="grid-container">
                <ion-row >
                  <ion-col col-4 *ngFor="let friend of friend_lists; let i = index" (click)="setClickedRow(i, friend.friend_request_to)" [class.active]="i == selectedRow">
                    <div>
                      <img style="position: relative; margin-top: 40px; height: 80px; width: 80px; left: 50%; transform: translate(-50%, 0); border-radius: 50%" src="assets/imgs/personicon.png"/>
                      <!--<img [src]="friend.image">-->
                    </div>
                    <p text-center [class.active]="i == selectedRow">{{friend.firstname}} {{friend.lastname}}</p>
                  </ion-col>
                </ion-row>
              </div>

              <button ion-button full small (click)="checkoutForFriend(customer_id_checkout)">Set as recepient</button>

            </ion-card>

          </div>

        </div>

      </div>

      <!--
        *
        *
        *
        end of recepient modal
        *
        *
        *
        -->

      <div class="scroll-container">

        <!--toggle for viewing open or closed stores-->
        <ion-item class="toggle-item">
          <ion-label>
            Toggle Store List
            <span [ngClass]="storeState ? 'store-state-label-open' : 'store-state-label-closed'">{{storeStateLabel}}</span>
          </ion-label>
          <ion-toggle [ngClass]="{'custom-toggle' : !storeState}" [(ngModel)]="storeState" (ionChange)="storeStateToggled($event)"></ion-toggle>
        </ion-item>

        <!--iterate through all stores-->
        <div *ngFor="let store of stores; let si = index">

          <!--if items from store are in cart, show store-->
          <div *ngIf="store.cartTotal > 0">

            <!--show open stores-->
            <ion-item-group *ngIf="storeState && store.state">
              <ion-item class="cart-header">
                <ion-checkbox [(ngModel)]="store.inCheckout" (ionChange)="updateCheckout(store.inCheckout)" item-start></ion-checkbox>
                <ion-label>
                  <b>{{store.name}}</b>
                  <span [ngClass]="store.state ? 'store-state-label-open' : 'store-state-label-closed'">Open</span>
                </ion-label>
              </ion-item>
              <ion-list class="cart-details">

                <!--iterate throught products-->
                <div *ngFor="let product of products">

                  <!-- show only product of current store and if quantity of item in cart > 0-->
                  <ion-item *ngIf="(store.storeId == product.storeId) && (product.quantity > 0)">
                    <ion-avatar item-start>
                      <img [src]="product.image">
                    </ion-avatar>
                    <span class="small">{{product.name}}</span>
                    <ion-row>
                      <ion-col col-3 class="small item-price">₱{{product.price | number:'0.2-2'}}</ion-col>
                      <ion-col col-5 class="item-quantity">
                        <ion-row>
                          <ion-col class="remove-quantity" text-center>
                            <button ion-button clear small icon-only (click)="removeFromCart(product.prodId)"><ion-icon name="remove"></ion-icon></button>
                          </ion-col>
                          <ion-col text-center><b>{{product.quantity}}</b></ion-col>
                          <ion-col class="add-quantity" text-center>
                            <button ion-button clear small icon-only (click)="addToCart(product.prodId)"><ion-icon name="add"></ion-icon></button>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col col-4 class="small item-price" text-right>₱{{product.quantityPrice | number:'0.2-2'}}</ion-col>
                    </ion-row>
                  </ion-item>

                </div>

                <ion-item text-right><b>Total ₱{{store.cartTotal | number:'0.2-2'}}</b></ion-item>
              </ion-list>
            </ion-item-group>


            <ion-item-group *ngIf="!storeState && !store.state">
              <ion-item class="cart-header">
                <ion-checkbox [(ngModel)]="store.inCheckout" (ionChange)="updateAdvanced(store.inCheckout)" item-start color="red-color"></ion-checkbox>
                <ion-label>
                  <b>{{store.name}}</b>
                  <span [ngClass]="store.state ? 'store-state-label-open' : 'store-state-label-closed'">Closed</span>
                </ion-label>
              </ion-item>
              <ion-list class="cart-details">


                <div *ngFor="let product of products">


                  <ion-item *ngIf="(store.storeId == product.storeId) && (product.quantity > 0)">
                    <ion-avatar item-start>
                      <img [src]="product.image">
                    </ion-avatar>
                    <span class="small">{{product.name}}</span>
                    <ion-row>
                      <ion-col col-3 class="small item-price">₱{{product.price | number:'0.2-2'}}</ion-col>
                      <ion-col col-5 class="item-quantity">
                        <ion-row>
                          <ion-col class="remove-quantity" text-center>
                            <button ion-button clear small icon-only color="red-color" (click)="removeFromCart(product.prodId)"><ion-icon name="remove"></ion-icon></button>
                          </ion-col>
                          <ion-col text-center><b>{{product.quantity}}</b></ion-col>
                          <ion-col class="add-quantity" text-center>
                            <button ion-button clear small icon-only color="red-color" (click)="addToCart(product.prodId)"><ion-icon name="add"></ion-icon></button>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <ion-col col-4 class="small item-price" text-right>₱{{product.quantityPrice | number:'0.2-2'}}</ion-col>
                    </ion-row>
                  </ion-item>

                </div>

                <ion-item text-right><b>Total ₱{{store.cartTotal | number:'0.2-2'}}</b></ion-item>
              </ion-list>
            </ion-item-group>

          </div>

        </div>

      </div>
      <!--end of scroll container-->

      <!--show only when a store is included to checkout and store toggle is on open-->
      <button class="checkout-item" ion-button full *ngIf="checkoutCount > 0 && storeState" (click)="checkAuth()">
        proceed to checkout
      </button>

      <!--show only when no stores is included to checkout and store toggle is on open-->
      <ion-item class="checkout-item" *ngIf="checkoutCount == 0 && storeState">
        <ion-checkbox item-start checked="true" disabled></ion-checkbox>
        <ion-label>
          <b>Select Store(s) to checkout from</b>
        </ion-label>
      </ion-item>

      <!--show only when a store is included to checkout and store toggle is on closed-->
      <button class="checkout-item" ion-button full color="red-color" *ngIf="advancedCount > 0 && !storeState" (click)="checkAuth()">
        proceed with advanced order
      </button>

      <!--show only when no stores is included to checkout and store toggle is on closed-->
      <ion-item class="checkout-item" *ngIf="advancedCount == 0 && !storeState">
        <ion-checkbox item-start checked="true" disabled color="red-color"></ion-checkbox>
        <ion-label>
          <b>Select Store(s) for advanced order</b>
        </ion-label>
      </ion-item>

    </div>
    <!--
      *
      *
      *
      *end of myCart-->

    <div *ngSwitchCase="'myOrderHistory'">

    <!--
      *
      *
      *
      *
      *
      *
      start -->

      <div class="empty-placeholder-container" *ngIf="arr_orders.success == 3 || arr_orders.length == 0">
        <img class="placeholder-image" src="assets/imgs/placeholder/orders-empty.png"/>
        <h6 class="placeholder-text" text-center>You have not ordered anything yet :(</h6>
      </div>

      <!--
      *
      *
      *
      *
      *
      *
      start -->

      <ion-list class="orders">
        <ion-item-group *ngFor="let order of arr_orders">
          <ion-item *ngIf="arr_orders.length > 0" (click)="goToOrderHistory(order.ORDER_ID)">
            <ion-avatar item-start>
              <div>
                <img  [src]="order.first_store_logo">
              </div>
            </ion-avatar>
            <ion-row class="small">
              <ion-col>
                <b>{{order.ORDER_ID}}</b>
              </ion-col>
              <ion-col text-right>
                {{order.DELIVERY_DATE}}
              </ion-col>
            </ion-row>

            <span class="small" *ngIf="order.ORDER_STATUS == 1">Your order is being <b>processed</b> in store.</span>
            <span class="small" *ngIf="order.ORDER_STATUS == 9">Your gift is being <b>processed</b> in store.</span>
            <span class="small" *ngIf="order.ORDER_STATUS == 2">Your order is <b>in transit.</b></span>
            <span class="small" *ngIf="order.ORDER_STATUS == 3">Your order has been <b>delivered</b>.</span>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </div>

  </div>

</ion-content>


