<!--
  Generated template for the OrderhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="red-gradient">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #efefef">

  <!--to friend-->

  <div class="margin-item gift-options" *ngIf="gift == 1 && gift_status == 0" padding>
    <div class="outer-container">
      <div class="outer-container-position">
        <div class="inner-container">
          <img class="gift-icon" src="assets/icon/send_gift.svg">
          <img class="gift-avatar" [src]="friendImage">
        </div>
      </div>
    </div>
    <h6 class="gift-name" text-center>{{friendName}}</h6>
    <p class="gift-message small" text-center>has not accepted your gift request yet</p>
    <button ion-button small block round color="red-color">Cancel your gift request</button>
  </div>

  <div class="margin-item gift-options" *ngIf="mygift == 1" padding>
    <div class="outer-container">
      <div class="outer-container-position">
        <div class="inner-container">
          <img class="gift-icon" src="assets/icon/send_gift.svg">
          <img class="gift-avatar" [src]="friendImage">
        </div>
      </div>
    </div>
    <h6 class="gift-name" text-center>{{friendName}}</h6>
    <p class="gift-message small" text-center>has sent you a gift request</p>

    <button ion-button small block round color="blue-color">Accept</button>
    <button ion-button small block round color="red-color">Decline</button>
  </div>

  <div class="margin-item gift-options" *ngIf="gift == 1 && gift_status == 1" padding>
    <div class="outer-container">
      <div class="outer-container-position">
        <div class="inner-container">
          <img class="gift-icon" src="assets/icon/send_gift.svg">
          <img class="gift-avatar" [src]="friendImage">
        </div>
      </div>
    </div>
    <h6 class="gift-name" text-center>{{friendName}}</h6>
    <p class="gift-message small" text-center>has accepted your gift.</p>
  </div>

  <!--from friend-->
  <div class="margin-item gift-options" *ngIf="deliveryState == 4" padding>
    <div class="outer-container">
      <div class="outer-container-position">
        <div class="inner-container">
          <img class="gift-icon" src="assets/icon/receive_gift.svg">
          <img class="gift-avatar" [src]="friendImage">
        </div>
      </div>
    </div>
    <h6 class="gift-name" text-center>{{friendName}}</h6>
    <p class="gift-message small" text-center>sent a gift to you</p>
    <ion-row>
      <ion-col>
        <button ion-button small block round color="red-color">Decline</button>
      </ion-col>
      <ion-col>
        <button ion-button small block round>Accept</button>
      </ion-col>
    </ion-row>
  </div>

  <ion-item class="margin-item" *ngIf="deliveryState > 0 && deliveryState < 4">
    <span item-start>To</span>
    <span item-end class="small">{{friendName}}</span>
    <ion-avatar item-end class="recepient-avatar">
      <img [src]="friendImage">
    </ion-avatar>
  </ion-item>

  <ion-item class="margin-item" *ngIf="deliveryState > 4 && deliveryState < 8">
    <span item-start>From</span>
    <span item-end class="small">{{friendName}}</span>
    <ion-avatar item-end class="recepient-avatar">
      <img [src]="'assets/imgs/personicon.png'">
    </ion-avatar>
  </ion-item>


  <div class="order-state-container" *ngIf="inProcess || inTransit || delivered">

    <div class="marker first" [ngClass]="{ 'marked' : inProcess }"></div>
    <div class="marker second" [ngClass]="{ 'marked' : inTransit }"></div>
    <div class="marker third" [ngClass]="{ 'marked' : delivered }"></div>
    <div class="marker-line"></div>

    <div class="state-header small"><b>Processing in Store</b></div>
    <hr>
    <ion-row class="small">
      <ion-col>
        <div><b>Order ID</b></div>
        <div>{{orderId}}</div>
      </ion-col>
      <ion-col>
        <div><b>Transaction date</b></div>
        <div>{{orderDate}}</div>
      </ion-col>
    </ion-row>

    <div class="state-header margin-top small" *ngIf="order_status_req != null"><b>Delivery in progress</b></div>
    <hr>
    <div class="order-state small" *ngIf="order_status_req != null">Your order is now being delivered to you</div>

    <div class="state-header margin-top small" *ngIf="order_status_req != null"><b>Delivery has arrived</b></div>
    <hr>
    <div class="order-state small">Distance and estimated time of arrival</div>
    <h6>{{display_distance}}&nbsp;&nbsp;{{eta}}</h6>

  </div>

  <!--end of order status -->

  <ion-item-group *ngFor="let store of store_req">
  <ion-item class="cart-header">
    <ion-label>
      <b>{{store.name}}</b>
      <span *ngIf="storeState" ngClass="store-state-label-open">Open</span>
      <span *ngIf="!storeState" ngClass="store-state-label-closed">Closed</span>
    </ion-label>
  </ion-item>

  <ion-list class="cart-details">
    <ion-item *ngFor="let product of product_req" >
      <ion-avatar item-start >

        <img [src]="product.image" *ngIf="product.storeId == store.storeId">

      </ion-avatar>
      <span class="small" *ngIf="product.storeId == store.storeId" >{{product.name}}</span>
      <ion-row>

        <ion-col col-3 class="small item-price" *ngIf="product.storeId == store.storeId" >₱{{product.price | number:'0.2-2'}}</ion-col>

        <ion-col col-5 class="item-quantity">
          <ion-row>

            <ion-col text-center *ngIf="product.storeId == store.storeId" ><b>{{product.quantity}}x</b></ion-col>

          </ion-row>
        </ion-col>

        <ion-col col-4 class="small item-price" text-right *ngIf="product.storeId == store.storeId" >₱{{product.quantityPrice | number:'0.2-2'}}</ion-col>

      </ion-row>
    </ion-item>
    <ion-row class="summary-item first small" >
      <ion-col>
        Delivery fee
      </ion-col>
      <ion-col text-right >
        ₱{{store.deliveryFee | number:'0.2-2'}}
      </ion-col>
    </ion-row>
        <ion-row class="summary-item last small">
      <ion-col>
        <b>Total</b>
      </ion-col>
      <ion-col text-right class="red">
        <b>₱{{store.grand_total | number:'0.2-2'}}</b>
      </ion-col>
    </ion-row>
  </ion-list>






  </ion-item-group>

  <ion-item-group>
    <ion-item>
      Delivery Address
    </ion-item>
    <ion-item class="small margin-item">
      <ion-icon name="pin" color="red-color">&nbsp;</ion-icon>{{address}}
    </ion-item>
  </ion-item-group>

  <ion-item class="margin-item">
    <span>Delivery Options </span>
    <span item-end class="small">{{deliveryMode}}</span>
    <ion-icon color="primary" item-end name="ios-checkmark"></ion-icon>
  </ion-item>

  <ion-item class="margin-item" *ngIf="deliveryMode == 'advance'">
    <span>Delivery Date </span>
    <ion-icon color="primary" item-end name="ios-calendar"></ion-icon>
    <span item-end class="small">{{delivery_date}}</span>

  </ion-item>

  <ion-item>
    <span>Payment Options</span>
    <span item-end class="small">{{paymentMode}}</span>
    <ion-icon color="primary" item-end name="ios-checkmark"></ion-icon>
  </ion-item>



  <ion-item *ngIf="paymentMode == 'creditCard'">
    <span>Card Number</span>
    <span item-end class="small">{{cardNumber}}</span>
  </ion-item>

</ion-content>
